/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Import sass selector */
@use "sass:selector";

/* Import media queries */
@use "./media.scss" as *;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Variables                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* About */
.about {
	position		: relative;
	width			: 100%;
	height			: 100%;

	overflow-x		: hidden;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;



	/* ==================================================== Children ==================================================== */

	/* Navbar Background */
	.navbar_background {
		position		: absolute;
		top			: 0;
		left			: 0;
		width			: 100%;

		z-index			: 1;

		line-height		: 0;

		&::before {
			position		: absolute;
			width			: 100%;
			height			: 100%;
			bottom			: 100%;
			
			background		: #FFFFFF;

			content			: '';
		}
		    
		svg {
			position		: relative;
			width			: calc(100% + 1.3px);
			height			: 160px;

			display			: block;

			filter			: drop-shadow(4px 4px 25px rgba(0, 0, 0, .15));
		}
		    
		.shape_fill {
			fill			: #FFFFFF;
		}

		/* Mobile Small */
		@include media("<=mobiles") { 
			top				: 50px;

			svg {
				height			: 50px;
				width			: 125%;
				left			: -12.5%;

				filter			: none;
			}
		}

		/* Mobile */
		@include media(">mobiles", "<=mobilel") { 
			top				: 40px;

			svg {
				height			: 70px;
				width			: 125%;
				left			: -12.5%;

				filter			: none;
			}
		}

		/* Tablet */
		@include media(">mobilel", "<=tablet") { 
			width				: 110%;
			top				: 25px;
			left				: -5%;

			transform			: scaleX(-1);

			svg {
				height			: 90px;

				filter			: none;
			}
		}

		/* Laptop */
		@include media(">tablet", "<=laptop") { 
			top				: 15px;

			svg {
				height			: 120px;

				filter			: none;
			}
		}
	}

	/* Call to Action */
	.call_to_action {
		cursor			: pointer;

		width			: 200px;
		height			: 50px;
		
		margin			: 10px;
		padding			: 12px;

		background		: #FFFFFF;
		color			: #3D3D3D;
		border			: 3px solid transparent;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: bold;
		font-size		: 13px;
		line-height		: 18px;
		text-align		: center;

		box-sizing		: border-box;
		box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
		border-radius		: 50px;

		transition		: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

		/* Hover */
		&:hover {
			background		: #EEEEEE;

			transform		: scale(1.1);
		}

		/* Landing Page */
		&.landing_page {
			margin-top		: 85vh;

			color			: #6C47B1;
			border			: 3px solid #6C47B1;
			background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #6C47B1 50%, #6C47B1);
			background-position	: 100% 0;
			background-size		: 200% 200%;

			font-size		: 13px;
			font-weight		: bolder;

			/* Hover */
			&:hover {
				background-position	: 0 0;
				color			: #FFFFFF;

				transform		: scale(1.1);
			}
		}
	}
}



/* ============================================== Personal Information ============================================== */
.personal_info {
	position		: relative;
	width			: 100%;

	margin-bottom		: 0;
	padding			: 250px;
	padding-bottom		: 150px;
	padding-top		: 300px;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;

	background		: #F8F8F8;
	color			: #3D3D3D;

	/* Active */
	&.active {
		
		/* Details */
		.details {

			/* Animation */
			.animation {
				opacity			: 1;
			}

			/* Profile Picture */
			.profile_picture {
				opacity			: 1;
			}

			/* Text */
			p {
				transform		: translateX(0) !important;

				opacity			: 1 !important;
			}
		}

		/* Divider */
		.divider {
			transform		: scaleX(1);
		}

		/* Grid */
		.grid {
			max-height		: 100vh;
		}
	}
	

	
	/* ==================================================== Children ==================================================== */

	/* Details */
	.details {
		display			: flex;
		flex-direction		: row;
		align-items		: center;
		justify-content		: space-evenly;

		margin-bottom		: 100px;

		/* Animation */
		.animation {
			pointer-events		: none;

			position		: absolute;
			width			: 40%;
			height			: 40%;
			left			: 5%;

			opacity			: 0;

			transition		: 0.5s ease-in-out 2.5s;
		}

		/* Profile Picture */
		.profile_picture {
			aspect-ratio		: 1/1;
			flex			: 0 1 300px;

			margin-right		: 50px;

			display			: flex;
			flex-direction		: column;
			justify-content		: center;
			align-items		: center;

			opacity			: 0;

			overflow		: hidden;

			border			: 3px solid #9B5AE6;
			border-radius		: 30% 70% 70% 30% / 30% 30% 70% 70%;

			animation		: profile_blob 30s infinite ease-in-out;
			transition		: 0.5s ease-in-out 2.5s;

			z-index			: 1;

			/* Image */
			div {
				overflow		: visible !important;
				position		: relative !important;

				object-fit		: cover;
			}
		}

		/* Header */
		.header {
			position		: relative;
			height			: 4rem;

			overflow		: hidden;

			margin-bottom		: 25px;

			color			: #3D3D3D;

			font-family		: Work Sans;
			font-size		: 2.5rem;
			font-weight		: bold;
			letter-spacing		: 2.5px;
			line-height		: 1.8;
			word-break		: break-all;
			letter-spacing		: 0.03em;

			animation		: typewriter 2s steps(100, end) 1s 1 normal both;
		}

		/* Text */
		.text {
			flex			: 0 1 60%;
			max-width		: 60%;

			/* Description */
			p {
				font-weight		: 400;
				font-size		: 1rem;
				line-height		: 1.8;
				letter-spacing		: 0.03em;
				text-rendering		: optimizeLegibility;

				transform		: translateX(100px);

				opacity			: 0;

				transition		: 1s ease-in-out 2.5s;
			}
		}
	}

	/* Label */
	.label {
		position		: absolute;
		height			: 35px;
		width			: 60px;
		top			: 5%;
		left			: -25px;

		background		: #9B5AE6;
		border-radius		: 5px 0 0 5px;
		color			: #FFFFFF;

		box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

		display			: flex;
		align-items		: center;
		justify-content		: center;

		/* Before */
		&::before {
			position		: absolute;
			width			: 0;
			height			: 0;
			top			: calc(100% - 1px);
			left			: 5px;

			border-style		: solid;
			border-color		: transparent #7C52CA transparent transparent;
			border-width		: 0 20px 7.5px 0;

			content			: '';
		}
	}

	/* Divider */
	.divider {
		width			: 80%;

		margin-bottom		: 100px;

		border-top		: 2px solid transparent;

		box-shadow		: 0 4px 4px rgba(0, 0, 0, 0.05);

		transform		: scaleX(0);

		transition		: 1s ease-in-out 3s;
	}

	/* Grid */
	.grid {
		max-height		: 0;
		width			: 100%;

		overflow		: hidden;

		display			: grid;

		grid-template-columns	: repeat(3, 1fr);
		grid-template-rows	: repeat(2, 1fr);

		transition		: 1.5s cubic-bezier(0.34,-0.39, 0.68, 1.38) 4.25s;

		/* Item */
		.item {
			display			: flex;
			flex-direction		: column;
			justify-content		: flex-start;
			align-items		: center;

			/* Icon */
			.icon {
				font-size		: 32px;

				color			: #8A4FCE;

				/* Hover */
				&:hover {

					/* Title */
					~.title {
						color			: #8A4FCE !important;

						transform		: scale(1.1) !important;
					}

					/* Underline */
					~.underline {
						transform		: scaleX(1.1) !important;

						border			: 1px solid #8A4FCE !important;
					}
				}
			}

			/* Title */
			.title, h3 {
				margin-top		: 1em;
				margin-bottom		: 5px;

				font-weight		: 700;
				font-size		: 1.15em;

				transition		: 0.05s cubic-bezier(0.34,-0.39, 0.68, 1.38);

				/* Hover */
				&.title:hover {
					color			: #8A4FCE;

					transform		: scale(1.1);

					/* Underline */
					~.underline {
						transform		: scaleX(1.1);

						border			: 1px solid #8A4FCE;
					}
				}
			}

			/* Underline */
			.underline {
				width			: 70px;
				height			: 0px;

				margin-bottom		: 10px;

				border			: 1px solid #DDDDDD;
				border-radius		: 1px;

				transition		: 0.05s cubic-bezier(0.34,-0.39, 0.68, 1.38);
			}

			/* Description */
			p {
				margin-top		: 0;
				margin-left		: 10%;
				margin-right		: 10%;

				text-align		: center;
			}
		}
	}

	/* Mobile */
	@include media ("<=mobilel") {
		padding			: 10px !important;
		padding-top		: 200px !important;
		padding-bottom		: 100px !important;

		.details {
			width			: 100%;

			margin			: 25px !important;

			flex-direction		: column !important;
			justify-content		: center !important;
			align-items		: flex-start !important;

			.animation {
				width			: 100% !important;
				height			: 100% !important;
				left			: 0% !important;
				top			: -25% !important;
			}

			.profile_picture {
				flex			: 0 1 300px !important;
				width			: 300px !important;

				margin-bottom		: 50px !important;
			}

			.text {
				max-width		: 100% !important;

				.header {
					height			: 1.8rem !important;

					margin-bottom		: 0 !important;

					font-size		: 1.5em !important;
					line-height		: 1 !important;
				}
	
				p {
					font-size		: 0.9em !important;
				}
			}
		}

		.divider {
			margin-bottom		: 50px !important;
		}

		.grid {
			width			: 100%;

			overflow-x		: auto;

			grid-template-columns	: repeat(6, 1fr);
			grid-template-rows	: repeat(1, 1fr);

			&::-webkit-scrollbar {
				height			: 5px;
			}

			.item {
				width			: 250px;

				margin			: 0 !important;

				justify-content		: flex-start !important;
				align-items		: center !important;

				font-size		: 0.9em !important;
			}
		}
	}

	/* Tablet */
	@include media (">mobilel", "<=tablet") {
		padding			: 10px !important;
		padding-top		: 100px !important;
		padding-bottom		: 100px !important;

		.details {
			margin			: 50px !important;

			flex-direction		: column !important;
			justify-content		: center !important;
			align-items		: flex-start !important;

			.animation {
				width			: 50% !important;
				height			: 50% !important;
				left			: 2.5% !important;
				top			: -5% !important;
			}

			.profile_picture {
				flex			: 0 1 250px !important;
				width			: 250px !important;
			}

			.text {
				max-width		: 100% !important;

				margin-top		: 50px !important;

				.header {
					height			: 1.9rem !important;

					margin-bottom		: 0 !important;

					font-size		: 1.5em !important;
					line-height		: 1 !important;
				}
	
				p {
					font-size		: 0.9em !important;
				}
			}
		}

		.divider {
			margin-bottom		: 50px !important;
		}

		.grid {
			.item {
				margin			: 0 !important;
				margin-bottom		: 25px !important;

				justify-content		: flex-start !important;
				align-items		: center !important;

				font-size		: 0.9em !important;
			}
		}
	}

	/* Laptop */
	@include media (">tablet", "<=laptop") {
		padding			: 10px !important;
		padding-bottom		: 100px !important;

		p {
			font-size		: 0.9em !important;
		}

		.details {
			margin-top		: 200px !important;
			margin-bottom		: 50px !important;

			.animation {
				width			: 40% !important;
				height			: 40% !important;
				left			: -2.5% !important;
			}

			.profile_picture {
				flex			: 0 1 250px !important;
			}

			.header {
				height			: 1.9rem !important;

				font-size		: 1.5em !important;
				line-height		: 1.25 !important;
			}
		}

		.divider {
			margin-bottom		: 50px !important;
		}

		.item {
			margin-bottom		: 25px;
		}
	}

	/* Laptop Large */
	@include media (">laptop", "<=laptopl") {
		padding			: 150px !important;
		padding-top		: 250px !important;

		.animation {
			width			: 40% !important;
			height			: 40% !important;
			left			: 5% !important;
		}

		.item {
			margin-bottom		: 25px;
		}
	}

}



/* =================================================== Tech Stack =================================================== */
.tech_stack {
	position		: relative;
	width			: 100%;

	margin-top		: 50px;
	margin-bottom		: 350px;
	padding			: 50px;
	padding-top		: 0;
	padding-bottom		: 150px;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;

	box-shadow		: 4px 4px 25px rgba(0, 0, 0, 0.15);

	background		: #221E41;
	color			: #FFFFFF;

	/* Active */
	&.active {

		/* Header */
		.header {
			opacity			: 1;
		}

		/* Grid */
		.grid {
			opacity			: 1;

			/* Details */
			.details {
				opacity			: 1;

				transform		: scale(1);
			}
		}
	}
	

	
	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		top			: -135px;
		left			: 0;
		width			: 100%;

		overflow		: hidden;

		line-height		: 0;

		svg {
			position		: relative;
			display			: block;
			width			: calc(100% + 1.3px);
			height			: 135px;
		}
		
		.shape_fill {
			fill			: #221E41;
		}
	}

	/* Header */
	.header {
		margin-bottom		: 50px;
		text-align		: center;
		font-size		: 24px;
		letter-spacing		: 5px;
		word-spacing		: 5px;

		padding			: 15px 50px;

		opacity			: 0;

		transition		: 0.5s ease-in-out;
	}

	/* Grid */
	.grid {
		width			: 80%;
		max-height		: 750px;

		overflow-y		: auto;
		overflow-x		: hidden;

		display			: grid;

		grid-template-columns	: repeat(4, minmax(140px, 1fr));
		grid-auto-flow		: row;

		opacity			: 0;

		transition		: 0.5s ease-in-out;

		/* Scrollbar Thumb */
		&::-webkit-scrollbar-thumb {
			background-color	: #3E3A56;
			border-radius		: 5px;

			/* Hover */
			&:hover { 
				background		: #322F46;
			}
		}

		/* Details */
		.details {
			aspect-ratio		: 1/1;

			display			: flex;
			flex-direction		: column;
			justify-content		: center;
			align-items		: center;

			background		: #332D61;
			border			: 2px solid #201C3B;
			border-radius		: 20px;

			opacity			: 0;

			transform		: scale(0.25);

			visibility		: visible;

			transition		: 0.5s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0.5s;

			/* Icon */
			.image {
				width			: 128px;
				height			: 128px;

				object-fit		: cover;

				margin-top		: 50px;
			}

			/* Title */
			.title {
				margin-top		: 10px;
				text-align		: center;
				font-size		: 18px;
				font-weight		: 500;
			}

			/* Description */
			.description {
				margin-top		: 10px;
				text-align		: center;
				font-size		: 16px;

				color			: #CDCDCD;
			}
		}
		@for $i from 1 through 1000 {
			.details:nth-child(#{$i}) {
				transition-delay	: (0.5s + ($i * 0.1s));
			}
		}
	}

	/* Footer */
	.footer {
		position		: absolute;
		width			: 100%;
		height			: 320px;
		bottom			: -320px;
	}

	/* Mobile Medium */
	@include media ("<mobilel") {
		padding			: 40px;
		padding-bottom		: 150px;

		.background {
			width			: 175%;
			left			: -37.5%;
			top			: -59px;

			svg {
				height		: 60px;
			}
		}

		.grid {
			width			: 100%;

			grid-template-columns	: repeat(1, minmax(140px, 1fr));

			.details {
				.image	{
					width			: 64px;
					height			: 64px;

					margin-top		: 25px;
				}

				.title {
					font-size		: 14px;
				}

				.description {
					font-size		: 14px;
				}
			}
		}
	}

	/* Mobile */
	@include media (">=mobilel", "<tablet") {
		padding			: 25px;
		padding-bottom		: 150px;

		.background {
			width			: 150%;
			left			: -25%;
			top			: -79px;

			svg {
				height		: 80px;
			}
		}

		.grid {
			width			: 100%;

			grid-template-columns	: repeat(2, minmax(140px, 1fr));

			.details {
				.image	{
					width			: 48px;
					height			: 48px;

					margin-top		: 25px;
				}

				.title {
					font-size		: 12px;
				}

				.description {
					font-size		: 12px;
				}
			}
		}
	}

	/* Tablet */
	@include media (">=tablet", "<laptop") {
		.background {
			top			: -79px;

			svg {
				height		: 80px;
			}
		}

		.grid {
			width			: 100%;

			grid-template-columns	: repeat(3, minmax(140px, 1fr));

			.details {
				.image	{
					width			: 64px;
					height			: 64px;

					margin-top		: 35px;
				}

				.title {
					font-size		: 14px;
				}

				.description {
					font-size		: 14px;
				}
			}
		}
	}

	/* Laptop */
	@include media (">=laptop", "<laptopl") {
		.background {
			top			: -99px;

			svg {
				height		: 100px;
			}
		}

		.grid {
			width			: 100%;

			.details {
				.image	{
					width			: 64px;
					height			: 64px;

					margin-top		: 45px;
				}

				.title {
					font-size		: 14px;
				}

				.description {
					font-size		: 14px;
				}
			}
		}
	}

	/* Laptop Large */
	@include media (">=laptopl", "<1875px") {
		.grid {
			width			: 85%;

			.details {
				.image	{
					width			: 96px;
					height			: 96px;
				}
			}
		}
	}

}



/* =================================================== Experience =================================================== */
.experience {
	position		: relative;
	width			: 100%;

	margin-top		: 100px;
	margin-bottom		: 100px;
	padding			: 50px;
	padding-top		: 0;
	padding-bottom		: 150px;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;

	color			: #3D3D3D;

	/* Active */
	&.active {

		/* Header */
		.header {
			opacity			: 1;

			transform		: translateY(0);
		}

		/* Subheader */
		.subheader {
			opacity			: 1;

			transform		: translateY(0);

			/* Left Line */
			&::before {
				opacity			: 1;

				transform		: scaleX(1);
			}

			/* Right Line */
			&::after {
				opacity			: 1;

				transform		: scaleX(1);
			}
		}

		/* Slideshow */
		.slideshow {
			opacity			: 1;

			/* Card */
			.card {
				background		: #F8F8F8;

				box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

				/* Label */
				.label {
					left			: -25px !important;

					/* Before */
					&::before {
						transform		: scaleX(1) !important;
					}
				}

				/* Container */
				.container {
					opacity			: 1;
				}
			}
		}
	}
	

	
	/* ==================================================== Children ==================================================== */

	/* Header */
	.header {
		margin-bottom		: 5px;

		text-align		: center;
		font-size		: 30px;
		letter-spacing		: 5px;
		word-spacing		: 5px;

		opacity			: 0;

		transform		: translateY(-50px);

		transition		: 0.5s ease-in-out;
	}

	/* Subheader */
	.subheader {
		position		: relative;

		margin-bottom		: 50px;

		font-size		: 16px;

		opacity			: 0;

		transform		: translateY(-25px);

		transition		: 0.5s ease-in-out 0.25s;

		/* Left Line */
		&::before {
			position		: absolute;
			width			: 1.5em;
			height			: 0;
			top			: 0.65em;
			left			: -2.5em;

			border			: 1px solid #3D3D3D;

			opacity			: 0;

			transform		: scaleX(0);
			transform-origin	: right;

			transition		: 0.5s ease-in-out 0.4s;

			content			: '';
		}

		/* Right Line */
		&::after {
			position		: absolute;
			width			: 1.5em;
			height			: 0;
			top			: 0.65em;
			right			: -2.5em;

			border			: 1px solid #3D3D3D;

			opacity			: 0;

			transform		: scaleX(0);
			transform-origin	: left;

			transition		: 0.5s ease-in-out 0.4s;

			content			: '';
		}
	}

	/* Slideshow */
	.slideshow {
		position		: relative;
		width			: 100%;
		height			: 700px;

		opacity			: 0;

		transition		: 1s ease 0.25s;

		/* Card */
		.card {
			position		: absolute;
			height			: 100%;
			width			: 100%;
			top			: 0;

			padding			: 50px 100px;

			background-color	: #FFFFFF;
			color			: #3D3D3D;
			border-radius		: 10px;

			transition		: background-color 0.5s ease 2.25s,
						  box-shadow 0.5s ease 2.25s,
						  transform 0.5s ease;

			/* Hover */
			&:hover {

				/* Container */
				.container {
					visibility		: visible;
				}
			}

			/* Label */
			.label {
				position		: absolute;
				height			: 35px;
				width			: 60px;
				top			: 10%;
				left			: calc(50% - 30px);

				background		: #9B5AE6;
				border-radius		: 5px;
				color			: #FFFFFF;

				box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

				display			: flex;
				align-items		: center;
				justify-content		: center;

				transition		: 1s ease 0.75s;

				/* Before */
				&::before {
					position		: absolute;
					width			: 0;
					height			: 0;
					top			: calc(100% - 1px);
					left			: 5px;

					border-style		: solid;
					border-color		: transparent #7C52CA transparent transparent;
					border-width		: 0 20px 7.5px 0;

					transform		: scaleX(0);
					transform-origin	: left;

					transition		: 0.5s ease 1.75s;

					content			: '';
				}
			}

			/* Container */
			.container {
				height			: 100%;
				width			: 100%;

				padding-right		: 10px;

				overflow-y		: auto;

				visibility		: hidden;

				font-weight		: 400;
				font-size		: 1rem;
				line-height		: 1.8;
				letter-spacing		: 0.03em;
				text-rendering		: optimizeLegibility;

				opacity			: 0;

				transition		: 0.5s ease 2.5s;
				
				/* Text */
				p {
					visibility		: visible;
				}
			}
		}
	}

	/* Mobile */
	@include media ("<=mobilel") {
		padding-left		: 0;
		padding-right		: 0;

		.slideshow {
			.card {
				width			: calc(100% - 50px) !important;

				padding			: 50px 20px !important;

				.container {
					font-size		: 0.8rem !important;

					visibility		: visible !important;

					&::-webkit-scrollbar {
						width			: 5px;
					}
				}
			}
		}
	}

	/* Tablet */
	@include media ("<=tablet", ">mobilel") {
		padding-left		: 0;
		padding-right		: 0;
		
		.slideshow {
			.card {
				width			: calc(100% - 100px) !important;
	
				padding			: 50px !important;
	
				.container {
					font-size		: 0.9rem !important;
	
					visibility		: visible !important;
	
					&::-webkit-scrollbar {
						width			: 5px;
					}
				}
			}
		}
	}

}



/* ==================================================== Education =================================================== */
.education {
	position		: relative;
	width			: 100%;

	margin-top		: 0;
	margin-bottom		: 100px;
	padding			: 50px;
	padding-top		: 0;
	padding-bottom		: 150px;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;

	color			: #FFFFFF;

	/* Active */
	&.active {

		/* Header */
		.header {
			opacity			: 1;

			transform		: translateY(0);
		}

		/* Subheader */
		.subheader {
			opacity			: 1;

			transform		: translateY(0);

			/* Left Line */
			&::before {
				opacity			: 1;

				transform		: scaleX(1);
			}

			/* Right Line */
			&::after {
				opacity			: 1;

				transform		: scaleX(1);
			}
		}

		/* Card */
		.card {
			box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

			/* Cover */
			.cover {
				transform		: scale(0);
			}
		}
	}
	

	
	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		width			: 150%;
		height			: 1000px;
		top			: 0;

		transform		: rotate(-2.5deg);

		z-index			: -1;

		background-color	: #9B5AE6;
	}

	/* Header */
	.header {
		margin-top		: 100px;
		margin-bottom		: 5px;

		text-align		: center;
		font-size		: 30px;
		letter-spacing		: 5px;
		word-spacing		: 5px;

		opacity			: 0;

		transform		: translateY(-50px);

		transition		: 0.5s ease-in-out;
	}

	/* Subheader */
	.subheader {
		position		: relative;

		font-size		: 16px;

		opacity			: 0;

		transform		: translateY(-25px);

		transition		: 0.5s ease-in-out 0.25s;

		/* Left Line */
		&::before {
			position		: absolute;
			width			: 1.5em;
			height			: 0;
			top			: 0.65em;
			left			: -2.5em;

			border			: 1px solid #FFFFFF;

			opacity			: 0;

			transform		: scaleX(0);
			transform-origin	: right;

			transition		: 0.5s ease-in-out 0.4s;

			content			: '';
		}

		/* Right Line */
		&::after {
			position		: absolute;
			width			: 1.5em;
			height			: 0;
			top			: 0.65em;
			right			: -2.5em;

			border			: 1px solid #FFFFFF;

			opacity			: 0;

			transform		: scaleX(0);
			transform-origin	: left;

			transition		: 0.5s ease-in-out 0.4s;

			content			: '';
		}
	}

	/* Slideshow */
	.slideshow {
		position		: relative;
		width			: 100%;
		height			: 700px;

		/* Card */
		.card {
			position		: absolute;
			height			: 100%;
			width			: 100%;
			top			: 0;

			padding			: 50px 100px;

			overflow		: hidden;

			background-color	: #FFFFFF;
			color			: #3D3D3D;
			border-radius		: 10px;

			display			: flex;
			flex-direction		: column;
			justify-content		: center;
			align-items		: center;

			transition		: box-shadow 0.5s ease 1s,
						  transform 0.5s ease;

			/* Hover */
			&:hover {

				/* Container */
				.container {
					visibility		: visible;
				}
			}

			/* Logo */
			.logo {
				position		: relative;
				height			: 64px;
				width			: 64px;

				margin-bottom		: 25px;

				/* Image */
				img {
					height			: 100%;
					width			: 100%;

					background-color	: #FFFFFF;

					object-fit		: contain;
				}
			}

			/* Meta */
			.meta {
				color			: #AAAAAA;

				font-size		: 14px;
				font-weight		: 400;
				letter-spacing		: 0.1em;
				text-align		: center;
			}

			/* Underline */
			.underline {
				width			: 100%;

				margin-bottom		: 25px;

				border-top		: 2px solid transparent;

				box-shadow		: 0 4px 4px rgba(0, 0, 0, 0.05);
			}

			/* Container */
			.container {
				width			: 100%;
				height			: auto;

				margin-bottom		: 50px;

				font-weight		: 400;
				font-size		: 1.25rem;
				line-height		: 1.8;
				letter-spacing		: 0.03em;
				text-rendering		: optimizeLegibility;
				text-align		: center;
			}

			/* Call to Action */
			.call_to_action {
				background-color	: #9B5AE6;
				color			: #FFFFFF;

				font-family		: Lato;
				font-style		: normal;
				font-weight		: 500;
				font-size		: 14px;
				letter-spacing		: 1px;
				line-height		: 18px;
				text-align		: center;
			}

			/* Cover */
			.cover {
				aspect-ratio		: 1/1;

				position		: absolute;
				width			: 150%;

				background		: #9B5AE6;
				border-radius		: 50%;

				transition		: 0.75s ease-in-out 0.75s;
			}
		}
	}

	/* Mobile */
	@include media ("<=mobilel") {
		padding-left		: 0;
		padding-right		: 0;

		.slideshow {
			.card {
				width			: calc(100% - 25px) !important;

				padding			: 50px !important;

				.meta {
					font-size		: 0.8rem !important;
				}

				.container {
					font-size		: 0.9rem !important;
				}

				.call_to_action {
					font-size		: 0.8rem !important;
				}

				.cover {
					width			: 250% !important;
				}
			}
		}
	}

	/* Tablets */
	@include media ("<610px", ">mobilel") {
		padding-left		: 0;
		padding-right		: 0;

		.slideshow {
			.card {
				width			: calc(100% - 50px) !important;

				padding			: 50px !important;

				.meta {
					font-size		: 0.9rem !important;
				}

				.container {
					font-size		: 1rem !important;
				}

				.call_to_action {
					font-size		: 0.9rem !important;
				}

				.cover {
					width			: 250% !important;
				}
			}
		}
	}

}



/* ===================================================== Hobbies ==================================================== */
.hobbies {
	position		: relative;
	width			: 100%;

	margin-top		: 100px;
	padding			: 50px;
	padding-top		: 0;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;

	color			: #3D3D3D;

	/* Active */
	&.active {

		/* Header */
		.header {
			max-width		: 100vw;

			padding			: 20px 100px;

			color			: #FFFFFF;
		}

		/* Details */
		.details {
			opacity				: 1 !important;

			transform			: scale(1) !important;
		}
	}
	

	
	/* ==================================================== Children ==================================================== */

	/* Header */
	.header {
		max-width		: 0;
		max-height		: calc(1em + 40px);

		margin-bottom		: 50px;
		padding			: 20px 0;

		background-color	: #646464;
		color			: #646464;

		text-align		: center;
		font-size		: 16px;
		letter-spacing		: 2.5px;
		word-spacing		: 5px;
		white-space		: nowrap;

		overflow		: hidden;

		transition		: max-width 0.5s ease-in-out,
					  padding 0.5s ease-in-out,
					  color 0.5s ease-in-out 0.4s;
	}

	/* Grid */
	.grid {
		width			: 80%;

		margin-top		: 100px;

		display			: grid;
		grid-template-columns	: repeat(4, minmax(200px, 1fr));
		gap			: 50px;

		/* Scrollbar Thumb */
		&::-webkit-scrollbar {
			height			: 5px;
		}

		/* Details */
		.details {
			display			: flex;
			flex-direction		: column;
			justify-content		: flex-start;
			align-items		: center;

			color			: #3D3D3D;

			text-align		: center;
			font-size		: 16px;

			opacity			: 0;

			transform		: scale(0.5);

			transition		: 0.5s ease-in-out 0.5s;

			/* Icon */
			.icon {
				margin-bottom		: 20px;

				color			: #9B5AE6;

				font-size		: 48px;
			}

			/* Title */
			.title {
				text-align		: center;
				font-size		: 1.25rem;
				font-weight		: 500;
				letter-spacing		: 2.5px;
			}

			/* Underline */
			.underline {
				width			: 75px;
				height			: 0px;

				margin-top		: 5px;
				margin-bottom		: 10px;

				border			: 1px solid #DDDDDD;
				border-radius		: 1px;
			}

			/* Description */
			.description {
				font-weight		: 400;
				font-size		: 1rem;
				line-height		: 1.8;
				letter-spacing		: 0.03em;
				text-rendering		: optimizeLegibility;
				text-align		: center;
			}
		}
		@for $i from 1 through 4 {
			.details:nth-child(#{$i}) {
				transition-delay	: (1s + ($i * 0.1s));
			}
		}
	}

	/* Divider */
	.divider {
		width			: 75%;
		height			: 0;

		margin-top		: 150px;

		border-top		: 2px solid transparent;

		box-shadow		: 0 4px 4px rgba(0, 0, 0, 0.05);
	}

	/* Mobile */
	@include media ("<tablet") {
		padding			: 25px;

		.header {
			padding			: 20px 50px !important;

			font-size		: 1rem !important;
		}

		.grid {
			width			: 100%;

			padding-bottom		: 50px;

			overflow-x		: auto;

			.title {
				font-size		: 1rem;
			}

			.underline {
				width			: 50px;
			}

			.description {
				font-size		: 0.9rem;
			}
		}
	}

	/* Tablet */
	@include media ("<laptop", ">=tablet") {
		.grid {
			width			: 100%;

			grid-template-columns	: repeat(2, minmax(200px, 1fr));
			grid-template-rows	: repeat(2, minmax(200px, 1fr));
		}
	}

	/* Laptop */
	@include media ("<laptopl", ">=laptop") {
		.grid {
			grid-template-columns	: repeat(2, minmax(200px, 1fr));
			grid-template-rows	: repeat(2, minmax(200px, 1fr));
		}
	}

}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

@keyframes typewriter {
	from {
		width			: 0;
	}
	to {
		width			: 100%;
	}
}

@keyframes background_gradient {
	0% {
		transform		: translateX(0%);
	}
	50% {
		transform		: translateX(-25%);
	}
	100% {
		transform		: translateX(0%);
	}
}

@keyframes background_fade {
	0% {
		transform		: scale(1);
		opacity			: 0;
	}
	10% {
		transform		: scale(1);
		opacity			: 1;
	}
	90% {
		transform		: scale(1.5);
		opacity			: 0;
	}
	100% {
		transform		: scale(1);
		opacity			: 0;
	}
}

@keyframes background_title {
	0% {
		opacity			: 0;
	}
	100% {
		opacity			: 1;
	}
}

@keyframes background_underline {
	0% {
		transform		: scaleX(0);
	}
	100% {
		transform		: scaleX(1);
	}
}

@keyframes profile_blob {
	0% {
		border-radius		: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
	25% {
		border-radius		: 78% 22% 29% 71% / 15% 71% 29% 85%;
	}
	50% {
		border-radius		: 77% 23% 82% 18% / 66% 71% 29% 34%;
	}
	75% {
		border-radius		: 53% 47% 39% 61% / 66% 71% 29% 34%;
	}
	100% {
		border-radius		: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
}