/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Import sass selector */
@use "sass:selector";

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Variables                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Timeline Card */
$navbar-height-1	: 200px;
$navbar-height-2	: 75px;
$num-cards		: 4;
$card-width		: 500px;
$card-height		: 600px;
$card-header-height	: 100px;
$card-margin		: 90px;
$card-padding		: 15px;
$card-colors		: #4f51ce, #8a4fce;
$marker-size		: 9px;





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Home */
.home {
	width			: 100%;
	height			: 100%;

	overflow-x		: hidden;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;



	/* ==================================================== Children ==================================================== */

	/* Call to Action */
	.call_to_action {
		cursor			: pointer;

		width			: 200px;
		height			: 50px;
		
		margin			: 10px;
		padding			: 12px;

		background		: #FFFFFF;
		color			: #3D3D3D;
		border			: 3px solid transparent;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: bold;
		font-size		: 13px;
		line-height		: 18px;
		text-align		: center;

		box-sizing		: border-box;
		box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
		border-radius		: 50px;

		transition		: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

		/* Hover */
		&:hover {
			background		: #EEEEEE;

			transform		: scale(1.1);
		}

		/* Landing Page */
		&.landing_page {
			margin-top		: 85vh;

			color			: #6C47B1;
			border			: 3px solid #6C47B1;
			background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #6C47B1 50%, #6C47B1);
			background-position	: 100% 0;
			background-size		: 200% 200%;

			font-size		: 13px;
			font-weight		: bolder;

			/* Hover */
			&:hover {
				background-position	: 0 0;
				color			: #FFFFFF;

				transform		: scale(1.1);
			}
		}
	}
}



/* ================================================== Landing Page ================================================== */

/* Background Mask */
.background_mask {
	position		: absolute;
	width			: 100%;
	height			: 50%;
	left			: 0;
	top			: 0;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;

	background		: linear-gradient(114.17deg, #6C47B1 0%, #6C47B1 25%, #DB4A87 75%, #DB4A87 100%);

	mask-size		: 100% 100%;
	mask-clip		: border-box;
	overflow		: hidden;
	
	z-index			: -1;



	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		bottom			: 0;
		left			: 0;
		width			: 100%;

		overflow		: hidden;

		line-height		: 0;
		    
		svg {
			position		: relative;
			width			: calc(100% + 1.3px);
			height			: 160px;

			display			: block;
		}
		    
		.shape_fill {
			fill			: #FFFFFF;
		}
	}

	/* Circles */
	.circles {
		position		: absolute;
		width			: 150%;
		height			: 150%;
	}

	/* Welcome Text */
	.welcome_text {
		position		: fixed;
		height			: auto;
		width			: auto;
		top			: 25%;

		display			: flex;
		flex-direction		: column;
		justify-content		: center;
		align-items		: center;



		/* ==================================================== Children ==================================================== */

		/* Meta */
		.meta {
			flex			: auto;
			width			: 0;
			height			: 1.5em;

			overflow		: hidden;

			font-family		: Lato;
			font-style		: normal;
			font-weight		: 300;
			font-size		: 18px;
			line-height		: 23px;
			text-align		: center;
			word-break		: break-all;

			color			: #EEEEEE;

			animation		: typewriter 2s steps(100, end) 1s 1 normal both;
			animation-delay		: 2s;
		}

		/* Title */
		.title {
			flex			: auto;

			font-family		: Lato;
			font-style		: normal;
			font-weight		: 400;
			font-size		: 32px;
			line-height		: 40px;
			letter-spacing		: 5px;
			word-spacing		: 5px;
			text-align		: center;

			opacity			: 0;

			color			: #FFFFFF;
			
			animation		: background_title 1s cubic-bezier(0.34,-0.39, 0.68, 1.38) forwards;
		}

		/* Underline */
		.underline {
			flex			: auto;
			width			: 200px;
			height			: 0px;

			margin-top		: 10px;
			margin-bottom		: 20px;

			border			: 1px solid #EEEEEE;
			border-radius		: 1px;

			transform		: scaleX(0);

			animation		: background_underline 1s ease forwards;
			animation-delay		: 1s;
		}

	}

}



/* ============================================== Personal Information ============================================== */
.personal_info {
	margin			: 100px;
	margin-top		: 60vh;
	margin-bottom		: 100px;
	padding			: 50px;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;

	box-shadow		: 4px 4px 25px rgba(0, 0, 0, 0.15);

	background		: #F8F8F8;
	border-top		: 2px solid #8a4fce;
	border-radius		: 5px;
	

	
	/* ==================================================== Children ==================================================== */

	/* Header */
	h1 {
		text-align		: center;

		margin			: 0;
	}

	/* Details */
	.details {
		display			: flex;
		flex-direction		: row;
		align-items		: center;
		justify-content		: center;

		/* Profile Picture */
		.profile_picture {
			flex			: 0 1 300px;
			height			: 300px;

			margin-right		: 50px;

			display			: flex;
			flex-direction		: column;
			justify-content		: center;
			align-items		: center;

			overflow		: hidden;

			border-radius		: 50%;

			/* Image */
			img {
				width			: 100%;
			}
		}
	}

}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

@keyframes typewriter {
	from {
		width			: 0;
	}
	to {
		width			: 100%;
	}
}

@keyframes background_gradient {
	0% {
		transform		: translateX(0%);
	}
	50% {
		transform		: translateX(-25%);
	}
	100% {
		transform		: translateX(0%);
	}
}

@keyframes background_fade {
	0% {
		transform		: scale(1);
		opacity			: 0;
	}
	10% {
		transform		: scale(1);
		opacity			: 1;
	}
	90% {
		transform		: scale(1.5);
		opacity			: 0;
	}
	100% {
		transform		: scale(1);
		opacity			: 0;
	}
}

@keyframes background_title {
	0% {
		opacity			: 0;
	}
	100% {
		opacity			: 1;
	}
}

@keyframes background_underline {
	0% {
		transform		: scaleX(0);
	}
	100% {
		transform		: scaleX(1);
	}
}