/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Import sass selector */
@use "sass:selector";

/* Import media queries */
@use "./media.scss" as *;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Variables                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Contact */
.contact {
	width			: 100%;
	height			: 100%;

	overflow-x		: hidden;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;



	/* ==================================================== Children ==================================================== */

	/* Call to Action */
	.call_to_action {
		cursor			: pointer;

		width			: 200px;
		height			: 50px;
		
		margin			: 10px;
		padding			: 12px;

		background		: #FFFFFF;
		color			: #3D3D3D;
		border			: 3px solid transparent;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: bold;
		font-size		: 13px;
		line-height		: 18px;
		text-align		: center;

		box-sizing		: border-box;
		box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
		border-radius		: 50px;

		transition		: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

		/* Hover */
		&:hover {
			background		: #EEEEEE;

			transform		: scale(1.1);
		}

		/* Landing Page */
		&.landing_page {
			margin-top		: 85vh;

			color			: #6C47B1;
			border			: 3px solid #6C47B1;
			background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #6C47B1 50%, #6C47B1);
			background-position	: 100% 0;
			background-size		: 200% 200%;

			font-size		: 13px;
			font-weight		: bolder;

			/* Hover */
			&:hover {
				background-position	: 0 0;
				color			: #FFFFFF;

				transform		: scale(1.1);
			}
		}
	}
}



/* ======================================================= Map ====================================================== */
.map {
	position		: relative;
	width			: 100%;
	height			: 110vh;

	display			: flex;
	flex-direction		: row;
	justify-content		: center;
	align-items		: center;

	overflow		: hidden;

	/* Active */
	&.active {

		/* Description */
		.description {
			opacity			: 1;
		}
	}



	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		width			: 200%;
		height			: 200%;
		left			: 0;
		top			: 0;
		
		background		: #F8F8F8;

		animation		: background_gradient 30s ease 1s infinite;
		
		z-index			: -1;
	}

	/* Navbar Background */
	.navbar_background {
		position		: absolute;
		top			: 0;
		left			: 0;
		width			: 100%;

		transform		: scaleX(-1);

		line-height		: 0;

		&::after {
			position		: absolute;
			width			: 100%;
			height			: 100%;
			bottom			: 100%;
			
			background		: #FFFFFF;

			content			: '';
		}
		    
		svg {
			position		: relative;
			width			: calc(100% + 1.3px);
			height			: 160px;

			display			: block;

			filter			: drop-shadow(4px 4px 25px rgba(0, 0, 0, .15));
		}
		    
		.shape_fill {
			fill			: #FFFFFF;
		}

		/* Mobile Small */
		@include media("<=mobiles") { 
			top			: 50px;

			svg {
				height			: 50px;
				width			: 125%;
				left			: -12.5%;
			}
		}

		/* Mobile */
		@include media(">mobiles", "<=mobilel") { 
			top			: 40px;

			svg {
				height			: 70px;
				width			: 125%;
				left			: -12.5%;
			}
		}

		/* Tablet */
		@include media(">mobilel", "<=tablet") { 
			width			: 110%;
			top			: 25px;
			left			: -5%;

			transform			: scaleX(1);

			svg {
				height			: 90px;
			}
		}

		/* Laptop */
		@include media(">tablet", "<=laptop") { 
			top			: 15px;

			svg {
				height			: 120px;
			}
		}
	}

	/* Animation */
	.animation {
		pointer-events		: none;

		position		: absolute;
		width			: 85%;
		height			: 85%;
		left			: 7.5%;
		top			: 10%;

		opacity			: 0.25;
	}

	/* Description */
	.description {
		margin-right		: 100px;
		padding			: 25px;

		background-color	: #FFFFFF;
		border-radius		: 25px;

		box-shadow		: 0 0 50px 50px #FFFFFF;

		display			: flex;
		flex-direction		: column;
		justify-content		: center;
		align-items		: flex-start;

		opacity			: 0;

		z-index			: 0;

		letter-spacing		: 0.25px;

		transition		: 1s ease-in-out;
		
		/* Title */
		.title {
			position		: relative;

			margin-bottom		: 50px;

			color			: #3D3D3D;

			font-family		: Work Sans;
			font-size		: 2.5rem;
			font-weight		: bold;
			letter-spacing		: 2.5px;

			/* Underline */
			&::after {
				position		: absolute;
				width			: 75%;
				height			: 0.1em;
				left			: 0;
				bottom			: -0.5rem;

				margin-left		: 20px;

				background-color	: #3D3D3D;
				border-radius		: 0.05em;
				opacity			: 1;

				content			: '';

				transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;
			}
		}

		/* Details */
		.details {
			margin-bottom		: 10px;

			/* Icon */
			.icon {
				margin-right		: 10px;

				color			: #9B5AE6;

				font-size		: 1.25rem;
			}

			/* Bold */
			.bold {
				color			: #3D3D3D;

				font-family		: Lato;
				font-size		: 1.25rem;
				font-weight		: bold;
				letter-spacing		: 1px;
			}

			/* Text */
			.text {
				color			: #3D3D3D;

				font-family		: Lato;
				font-size		: 1.1rem;
				font-weight		: 400;
				letter-spacing		: 1.5px;
			}
		}

		/* Social Media */
		.social_media {
			width			: 100%;

			padding			: 0;

			/* Social Media Link */
			li {
				cursor			: pointer;

				display			: inline-block;

				font-size		: 2em;
				text-align		: center;

				margin			: 5px 25px;

				transition		: 0.1s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

				/* Hover */
				&:hover {
					color			: #9B5AE6;
					
					transform		: scale(1.25);
				}
			}
		}
	}

	/* Map */
	.map {
		width			: 50%;
		height			: 50%;

		overflow		: visible;

		opacity			: 0.75;

		box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

		transition		: 0.25s ease-in-out;

		/* Before */
		&::before {
			position		: absolute;
			width			: 60%;
			height			: 50%;
			top			: -10px;
			left			: -10px;

			background		: #9B5AE6;
			border-radius		: 5px;

			box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

			z-index			: -1;

			content			: '';
		}

		/* After */
		&::after {
			position		: absolute;
			width			: 60%;
			height			: 50%;
			bottom			: -10px;
			right			: -10px;

			background		: #9B5AE6;
			border-radius		: 5px;

			box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

			z-index			: -1;

			content			: '';
		}

		/* Hover */
		&:hover {
			opacity			: 1;
		}

		/* Iframe */
		iframe {
			width			: 100%;
			height			: 100%;

			background		: #F8F8F8;

			border			: none;

			z-index			: 0;
		}
	}

	/* Divider */
	.divider {
		position		: absolute;
		bottom			: 0;
		left			: 0;
		width			: 100%;

		transform		: rotate(180deg);

		svg {
			position	: relative;
			display		: block;
			width		: calc(100% + 1.3px);
			height		: 150px;
		}

		.shape_fill {
			fill		: #FFFFFF;
		}
	}
}



/* ======================================================= FAQ ====================================================== */
.faq {
	position		: relative;
	width			: 100%;
	height			: auto;

	padding-top		: 100px;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;

	overflow		: hidden;

	/* Active */
	&.active {

		/* Title */
		.title {
			opacity			: 1;

			/* Underline */
			&::after {
				transform		: scaleX(1);
			}
		}

		/* Animation */
		.animation {
			opacity			: 1 !important;

			transform		: scale(1) !important;
		}

		/* Accordion */
		.accordion {
			opacity			: 1 !important;

			transform		: translateX(0) !important;
		}
	}



	/* ==================================================== Children ==================================================== */

	/* Title */
	.title {
		position		: relative;

		margin-bottom		: 50px;

		color			: #3D3D3D;

		font-family		: Work Sans;
		font-size		: 2.5rem;
		font-weight		: bold;
		letter-spacing		: 2.5px;

		opacity			: 0;

		transition		: 1s ease-in-out;

		/* Underline */
		&::after {
			position		: absolute;
			width			: 85%;
			height			: 0.1em;
			left			: 5%;
			bottom			: -1rem;

			margin-left		: 20px;

			background-color	: #3D3D3D;
			border-radius		: 0.05em;
			opacity			: 1;

			content			: '';

			transform		: scaleX(0);

			transition		: 1s ease-in-out 1s;
		}
	}

	/* Content */
	.content {
		display			: flex;
		flex-direction		: row;
		justify-content		: center;
		align-items		: flex-start;

		/* Animation */
		.animation {
			pointer-events		: none;

			flex			: 0 1 30%;
			width			: 30%;
			height			: 30%;

			margin-right		: 100px;

			opacity			: 0;

			transform		: scale(0);

			transition		: 1s ease 1.75s;
		}

		/* Description */
		.description {
			flex			: 0 1 40%;

			/* Accordions */
			.accordion {
				opacity			: 0;

				transform		: translateX(50px);

				transition		: 0.5s ease-in-out 1.75s;

				/* Links */
				a {
					color			: #FDCD48;

					font-weight		: bold;
				}
			}
		}
	}
}



/* ================================================== Contact Form ================================================== */
.contact_form {
	position		: relative;
	width			: 100%;
	height			: auto;

	padding-top		: 100px;
	padding-bottom		: 100px;

	overflow		: hidden;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;

	/* Active */
	&.active {

		/* Cover */
		.cover {
			transform		: scale(0);
		}
	}



	/* ==================================================== Children ==================================================== */

	/* Divider */
	.divider {
		width			: 80%;
		height			: 0;

		margin-bottom		: 150px;

		border			: 1px solid #EEEEEE;

		display			: flex;
		flex-direction		: row;
		justify-content		: center;
		align-items		: center;

		/* Connectors */
		.connectors {
			width			: 100px;
			height			: 100px;

			background		: #FFFFFF;

			display			: flex;
			flex-direction		: row;
			justify-content		: center;
			align-items		: center;

			/* Connector */
			.connector {
				position		: absolute;
				height			: 100px;
				width			: 10px;

				background		: #9B5AE6;
				border-radius		: 5px;

				animation		: connector 5s cubic-bezier(0.34,-0.39, 0.68, 1.38) infinite 0.35s;

				/* Third */
				&:nth-of-type(1) {
					height			: 80px;

					margin-right		: 50px;

					animation-delay		: 0.25s;
				}

				/* Fifth */
				&:nth-of-type(3) {
					height			: 80px;

					margin-left		: 50px;

					animation-delay		: 0.45s;
				}
			}
		}
	}

	/* Content */
	.content {
		width			: 80%;

		display			: flex;
		flex-direction		: row-reverse;
		justify-content		: flex-start;
		align-items		: center;

		/* Animation */
		.animation {
			pointer-events		: none;

			flex			: 0 1 35%;
			width			: 35%;
			height			: 35%;
		}

		/* Description */
		.description {
			flex			: 0 1 60%;

			/* Title */
			.title {
				position		: relative;

				margin-bottom		: 50px;

				color			: #3D3D3D;

				font-family		: Work Sans;
				font-size		: 2.5rem;
				font-weight		: bold;
				letter-spacing		: 2.5px;
			}

			/* Form */
			.form {
				display			: grid;
				grid-template-columns	: repeat(2, 1fr);
				grid-auto-flow		: row;
				gap			: 15px;

				/* Input */
				.input {
					position		: relative;

					margin-bottom		: 20px;

					/* Hover */
					&:hover {
						/* Input Element */
						input {
							border			: 2px solid #9B5AE6;

							color			: #9B5AE6;
						}

						/* Label */
						label {
							color			: #9B5AE6;

							top			: -2.5rem;

							font-size		: 0.8rem;
							font-weight		: 500;
						}
					}

					/* Input Element */
					input {
						width			: 100%;

						padding			: 1rem 1.5rem;

						color			: #3D3D3D;
						border			: 1px solid #AAAAAA;
						border-radius		: 1.5rem;

						font-size		: 1rem;
						font-family		: Lato;
						letter-spacing		: 0.03em;
						text-rendering		: optimizeLegibility;

						outline			: none;

						transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

						/* Focus */
						&:focus, &:not(:focus):valid {
							/* Label */
							~ label {
								color			: #3D3D3D;

								top			: -2.5rem;

								font-size		: 0.8rem;
								font-weight		: 500;
							}
						}

						/* Autofill */
						&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
							-webkit-box-shadow	: 0 0 0 30px white inset !important;
							box-shadow		: 0 0 0 30px white inset !important;
						}
					}

					/* Text Area Element */
					textarea {
						width			: 100%;
						height			: 300px;

						padding			: 1rem 1.5rem;

						color			: #3D3D3D;
						border			: 1px solid #AAAAAA;
						border-radius		: 1.5rem;

						font-size		: 1rem;
						font-family		: Lato;
						letter-spacing		: 0.03em;
						text-rendering		: optimizeLegibility;

						outline			: none;

						resize			: none;

						transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

						/* Hover */
						&:hover {
							border			: 2px solid #9B5AE6;
						}

						/* Focus */
						&:focus, &:not(:focus):valid {
							/* Label */
							~ label {
								color			: #3D3D3D;

								top			: -2.5rem;

								font-size		: 0.8rem;
								font-weight		: 500;
							}
						}

						/* Autofill */
						&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
							-webkit-box-shadow	: 0 0 0 30px white inset !important;
							box-shadow		: 0 0 0 30px white inset !important;
						}
					}

					/* Label */
					label {
						pointer-events		: none;

						position		: absolute;
						left			: 0;
						top			: 0;

						margin			: 1rem 1.5rem;

						color			: #AAAAAA;

						font-size		: 0.9rem;
						letter-spacing		: 0.05rem;

						transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;
					}
				}

				/* Checkbox */
				.checkbox {
					display			: flex;
					flex-direction		: row;
					justify-content		: flex-start;
					align-items		: flex-start;

					/* Input Element */
					input {
						width			: 0;
						height			: 0;

						visibility		: hidden;

						/* Checked */
						&:checked ~ label:after {
							background-color	: #9B5AE6;

							transform		: translateX(35px);
						}
					}

					/* Label */
					label {
						cursor			: pointer;

						position		: relative;
						width			: 80px;
						height			: 40px;

						overflow		: visible;

						display			: flex;
						flex-direction		: row;
						justify-content		: center;
						align-items		: center;

						background		: transparent;
						color			: #3D3D3D;
						border			: 1px solid #AAAAAA;
						border-radius		: 25px;

						text-indent		: 350px;
						font-size		: 1rem;
						white-space		: nowrap;

						transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

						/* Hover */
						&:hover {
							/* Thumb */
							&::after {
								transform		: translateX(2.5px) scale(1.05);

								background-color	: #AAAAAA;
							}
						}

						/* Thumb */
						&::after {
							position		: absolute;
							width			: 30px;
							height			: 30px;
							left			: 5px;

							background-color	: #DDDDDD;
							border-radius		: 100%;

							transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;
							
							content			: '';
						}
					}
				}

				/* Call to Action */
				.call_to_action {
					width			: 250px;

					background		: #9B5AE6;
					color			: #FFFFFF;

					font-family		: Work Sans;
					font-size		: 1rem;
					font-weight		: 500;
					letter-spacing		: 1px;

					justify-self		: end;

					/* Loading */
					&.loading {
						pointer-events		: none;
						
						width			: 50px;

						font-size		: 1.25em;
					}
				}
			}
		}
	}

	/* Cover */
	.cover {
		aspect-ratio		: 1/1;

		position		: absolute;
		width			: 150%;

		background		: #FFFFFF;
		border-radius		: 50%;

		transition		: 1.5s ease-in-out;
	}
}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

@keyframes background_gradient {
	0% {
		transform		: translateX(0%);
	}
	50% {
		transform		: translateX(-25%);
	}
	100% {
		transform		: translateX(0%);
	}
}

@keyframes connector {
	0% {
		transform		: scaleY(1);
	}
	5% {
		transform		: scaleY(0.5);
	}
	10% {
		transform		: scaleY(1);
	}
	100% {
		transform		: scaleY(1);
	}
}