/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Import sass selector */
@use "sass:selector";

/* Import sass math */
@use "sass:math";

/* Import media queries */
@use "./media.scss" as *;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Variables                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Timeline Card */
$navbar-height-1	: 200px;
$navbar-height-2	: 75px;
$num-cards		: 4;
$card-width		: 500px;
$card-height		: 600px;
$card-header-height	: 100px;
$card-margin		: 90px;
$card-padding		: 15px;
$card-colors		: #B252FF, #B252FF;
$marker-size		: 9px;





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Home */
.home {
	width			: 100%;
	height			: 100%;

	overflow-x		: hidden;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;



	/* ==================================================== Children ==================================================== */

	/* Call to Action */
	.call_to_action {
		cursor			: pointer;

		width			: 200px;
		height			: 50px;
		
		margin			: 10px;
		padding			: 12px;

		background		: #FFFFFF;
		color			: #3D3D3D;
		border			: 3px solid transparent;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: bold;
		font-size		: 13px;
		line-height		: 18px;
		text-align		: center;

		box-sizing		: border-box;
		box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
		border-radius		: 50px;

		transition		: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

		/* Hover */
		&:hover {
			background		: #EEEEEE;

			transform		: scale(1.1);
		}

		/* Landing Page */
		&.landing_page {
			margin-top		: 85vh;

			color			: #9B5AE6;
			border			: 3px solid #9B5AE6;
			background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #9B5AE6 50%, #9B5AE6);
			background-position	: 100% 0;
			background-size		: 200% 200%;

			font-size		: 13px;
			font-weight		: bolder;

			/* Hover */
			&:hover {
				background-position	: 0 0;
				color			: #FFFFFF;

				transform		: scale(1.1);
			}
		}
	}
}



/* ================================================== Landing Page ================================================== */

/* Background Mask */
.background_mask {
	position		: absolute;
	width			: 100%;
	height			: 90%;
	left			: 0;
	top			: 0;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;

	overflow		: hidden;
	
	z-index			: -1;



	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		width			: 200%;
		height			: 200%;
		left			: 0;
		top			: 0;
		
		background		: linear-gradient(114.17deg, #9048E2 0%, #9048E2 25%, #DB4A87 75%, #DB4A87 100%);

		animation		: background_gradient 30s ease 1s infinite;
		
		z-index			: -1;
	}

	/* Blob */
	.blob {
		position		: absolute;

		background		: #FFFFFF;
		border-radius		: 58% 42% 51% 49% / 30% 26% 74% 70%;

		transform		: rotate(250deg) translate(100px, 100px) scale(1.25);

		opacity			: 0.1;

		animation		: blob 100s linear infinite;

		/* Blob Left */
		&.left {
			width			: 500px;
			height			: 500px;
			left			: 0;
			top			: 100px;
		}

		/* Blob Right */
		&.right {
			width			: 300px;
			height			: 300px;
			right			: 0;
			bottom			: -100px;
		}

		/* Mobile */
		@include media("<=mobilel") { 
			display			: none;
		}
	}

	/* Navbar Background */
	.navbar_background {
		position		: absolute;
		top			: 0;
		left			: 0;
		width			: 100%;

		line-height		: 0;

		&::before {
			position		: absolute;
			width			: 100%;
			height			: 100%;
			bottom			: 100%;
			
			background		: #FFFFFF;

			content			: '';
		}
		    
		svg {
			position		: relative;
			width			: calc(100% + 1.3px);
			height			: 160px;

			display			: block;

			filter			: drop-shadow(4px 4px 25px rgba(0, 0, 0, .15));
		}
		    
		.shape_fill {
			fill			: #FFFFFF;
		}

		/* Mobile Small */
		@include media("<=mobiles") { 
			top				: 50px;

			svg {
				height			: 50px;
				width			: 125%;
				left			: -12.5%;

				filter			: none;
			}
		}

		/* Mobile */
		@include media(">mobiles", "<=mobilel") { 
			top				: 40px;

			svg {
				height			: 70px;
				width			: 125%;
				left			: -12.5%;

				filter			: none;
			}
		}

		/* Tablet */
		@include media(">mobilel", "<=tablet") { 
			width				: 110%;
			top				: 25px;
			left				: -5%;

			transform			: scaleX(-1);

			svg {
				height			: 90px;

				filter			: none;
			}
		}

		/* Laptop */
		@include media(">tablet", "<=laptop") { 
			top				: 15px;

			svg {
				height			: 120px;

				filter			: none;
			}
		}
	}

	/* Welcome Text */
	.welcome_text {
		position		: fixed;
		height			: auto;
		width			: auto;
		top			: 25%;

		display			: flex;
		flex-direction		: column;
		justify-content		: center;
		align-items		: center;



		/* ==================================================== Children ==================================================== */

		/* Title */
		.title {
			flex			: auto;

			font-family		: Lato;
			font-style		: normal;
			font-weight		: 400;
			font-size		: 32px;
			line-height		: 40px;
			letter-spacing		: 5px;
			word-spacing		: 5px;
			text-align		: center;

			opacity			: 0;

			color			: #FFFFFF;
			
			animation		: background_title 1s cubic-bezier(0.34,-0.39, 0.68, 1.38) forwards;
		}

		/* Underline */
		.underline {
			flex			: auto;
			width			: 150px;
			height			: 0px;

			margin-top		: 10px;
			margin-bottom		: 10px;

			border			: 1px solid #EEEEEE;
			border-radius		: 1px;

			transform		: scaleX(0);

			animation		: background_underline 1s ease forwards;
			animation-delay		: 1s;
		}

		/* Meta */
		.meta {
			flex			: auto;
			width			: 0;
			height			: 1.5em;

			overflow		: hidden;

			font-family		: Lato;
			font-style		: normal;
			font-weight		: 300;
			font-size		: 18px;
			line-height		: 1.8;
			text-align		: center;
			word-break		: break-all;
			letter-spacing		: 0.03em;
			text-rendering		: optimizeLegibility;

			color			: #EEEEEE;

			animation		: typewriter 2s steps(100, end) 1s 1 normal both;
			animation-delay		: 2s;
		}

		/* Mobile Small */
		@include media("<=mobiles") { 
			.title {
				font-size		: 28px;
			}

			.meta {
				font-size		: 16px;
			}
		}

		/* Mobile */
		@include media(">mobiles", "<=mobilel") { 
			margin			: 0 10px;
		}
	}

	/* Footer */
	.footer {
		position		: absolute;
		width			: 100%;
		bottom			: -1px;
		left			: 0;

		&::before {
			position		: absolute;
			width			: 100%;
			height			: 100%;
			top			: calc(100% - 1px);
			
			background		: #FFFFFF;

			content			: '';
		}

		svg {
			position		: relative;
			width			: calc(100% + 1.3px);
			height			: 258px;

			display			: block;
		}

		.shape_fill {
			fill			: #FFFFFF;
		}

		/* Mobile Small */
		@include media("<=mobiles") { 
			bottom			: 69px;

			svg {
				height			: 70px;
			}
		}

		/* Mobile */
		@include media(">mobiles", "<=mobilel") { 
			bottom			: 50px;

			svg {
				height			: 90px;
			}
		}

		/* Tablet */
		@include media(">mobilel", "<=tablet") { 
			bottom			: 30px;

			svg {
				height			: 130px;
			}
		}

		/* Laptop */
		@include media(">tablet", "<=laptop") { 
			bottom			: 10px;

			svg {
				height			: 170px;
			}
		}

		/* Laptop Large */
		@include media(">laptop", "<=laptopl") { 
			svg {
				height			: 200px;
			}
		}
	}

}



/* ===================================================== Hire Me ==================================================== */

.hire_me {
	width			: 100%;

	color			: #3D3D3D;

	display			: flex;
	flex-direction		: column;
	align-items		: center;

	margin-top		: 50px;

	opacity			: 0;

	transition		: 1s ease;

	/* On Active */
	&.active {
		opacity			: 1;

		/* Header */
		h1 {
			animation		: typewriter 4s steps(100, end) 0s 1 normal both;

			/* All Mobile */
			@include media("<=tablet") { 
				animation		: none;

				opacity			: 1;
			}
		}

		/* Description Text */
		.meta .description p {
			opacity			: 1;

			transform		: translateX(0);
		}

		/* Description Button */
		.meta .description button {
			opacity			: 1;
		}

		/* Image */
		.meta .image {
			opacity			: 1;

			max-height		: 375px;
		}
	}



	/* ==================================================== Children ==================================================== */

	/* Header */
	h1 {
		width			: 0;
		max-height		: 1.5em;

		text-align		: center;
		word-break		: break-all;

		overflow		: hidden;
	}

	/* Meta */
	.meta {
		max-width		: 70%;
		
		display			: flex;
		flex-direction		: row;
		align-items		: center;

		/* Description */
		.description {
			flex			: 1 1 100%;

			margin			: 50px;
			margin-top		: 20px;

			/* Paragraph */
			p {
				margin-top		: 0;
				margin-bottom		: 2em;
				
				font-weight		: 400;
				font-size		: 1rem;
				line-height		: 1.5;
				letter-spacing		: 0.03em;
				text-rendering		: optimizeLegibility;

				opacity			: 0;

				transform		: translateX(25%);

				transition		: 1s ease 2s;
			}

			/* Button */
			button {
				width			: 150px;

				background		: #9B5AE6;
				border-color		: #7C52CA;
				color			: #FFFFFF;

				margin-top		: 2em;

				opacity			: 0;

				transition		: opacity 1s ease 2.5s,
						  	background-color 0.05s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s,
						  	transform 0.05s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

				/* Hover */
				&:hover {
					background		: #7C52CA;

					transform		: scale(1.1);
				}
			}
		}

		/* Image */
		.image {
			max-height		: 0;
			width			: 600px;
			height			: 375px;

			flex			: 1 1 100%;

			background		: transparent;
			border-radius		: 10px;

			font-size		: 5em;

			display			: flex;
			align-items		: center;
			justify-content		: center;

			margin			: 50px;
			margin-top		: 20px;

			opacity			: 0;

			transition		: 1s ease 2.5s;

			/* Animation */
			div {
				pointer-events		: none;

				width			: 150% !important;
				height			: 150% !important;
			}
		}
	}

	/* Mobile Small */
	@include media("<=mobiles") { 
		width			: 95%;

		h1 {
			max-height		: none;
			width			: 100%;

			font-size		: 1.75rem;
			word-break		: normal;

			opacity			: 0;

			transition		: 1.5s ease;
		}

		.meta {
			max-width		: 100%;

			flex-direction		: column-reverse;

			.description {
				margin			: 25px;

				p {
					font-size		: 0.9rem;
					line-height		: 1.25rem;
				}
			}
		}
	}

	/* Mobile */
	@include media(">mobiles", "<=mobilel") { 
		width			: 95%;

		h1 {
			max-height		: none;
			width			: 100%;
			
			font-size		: 1.75rem;
			word-break		: normal;
			
			opacity			: 0;

			transition		: 1.5s ease;
		}

		.meta {
			max-width		: 100%;

			flex-direction		: column-reverse;

			.description {
				margin			: 25px;

				p {
					font-size		: 0.9rem;
					line-height		: 1.25rem;
				}
			}
		}
	}

	/* Tablet */
	@include media(">mobilel", "<=tablet") { 
		width			: calc(100% - 200px);

		h1 {
			max-height		: none;
			width			: 100%;

			word-break		: normal;
			
			opacity			: 0;

			transition		: 1.5s ease;
		}

		.meta {
			max-width		: 100%;

			flex-direction		: column-reverse;
		}
	}

	/* Laptop */
	@include media(">tablet", "<=laptop") { 
		.meta {
			max-width		: 90%;
		}
	}

}



/* ==================================================== Showcase ==================================================== */

.showcase {
	position		: relative;
	width			: 100%;
	min-height		: 750px;

	background-color	: #221E41;
	color			: #FFFFFF;

	display			: flex;
	flex-direction		: column;
	align-items		: center;

	margin-top		: 200px;
	padding-bottom		: 100px;

	/* Footer */
	&::before {
		position		: absolute;
		bottom			: -199px;
		left			: 0;
		width			: 100%;
		height			: 200px;

		background-color	: #221E41;

		z-index			: -2;

		content			: '';
	}

	/* Active */
	&.active {

		/* Exclamation */
		.exclamation {
			opacity			: 1;

			animation		: showcase_exclamation 3s forwards;
		}

		/* Header */
		h2 {
			opacity			: 1;
		}

		/* Sideline */
		.sideline {
			opacity			: 1;

			transform		: translateX(0);
		}

		/* Section */
		.section {
			opacity			: 1;

			transform		: translateX(0);
		}
	}



	/* ==================================================== Children ==================================================== */

	/* Background */
	.background{
		position		: absolute;
		top			: -134px;
		left			: 0;
		width			: calc(100% + 1.3px);

		overflow		: hidden;

		line-height		: 0;

		transform		: rotate(180deg);
		    
		svg {
			position		: relative;
			display			: block;
			width			: calc(100% + 1.3px);
			height			: 135px;
			transform		: rotateY(180deg);
		}
		    
		.shape_fill {
			fill			: #221E41;
		}

		/* Mobile */
		@include media("<tablet") { 
			top			: -49px;

			svg {
				height			: 50px;
			}
		}

		/* Tablet */
		@include media(">=tablet", "<laptop") { 
			top			: -99px;

			svg {
				height			: 100px;
			}
		}
	}

	/* Circles */
	.circles {
		position		: absolute;
		width			: 100%;
		height			: 100%;

		/* Mobile */
		@include media("<=mobilel") { 
			display			: none;
		}
	}

	/* Header */
	h2 {
		margin-top		: 100px;
		margin-bottom		: 50px;
		padding-left		: 10px;
		padding-right		: 10px;

		background		: #221E41;

		z-index			: 1;

		opacity			: 0;

		transition		: 0.75s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;
	}

	/* Sideline */
	.sideline {
		width			: 300px;
		height			: 0px;

		margin-top		: 100px;
		margin-bottom		: -120px;

		background		: #FFFFFF;
		border			: 1.5px solid #FFFFFF;

		z-index			: 0;

		opacity			: 0;

		transform		: translateX(-50vw);

		transition		: 0.5s ease 0s;
	}

	/* Sections */
	.section {
		aspect-ratio		: 8/3;

		width			: 70%;

		display			: flex;
		flex-direction		: row;

		margin-bottom		: 100px;
		
		background-color	: #FFFFFF;
		color			: #3D3D3D;
		border-radius		: 10px;

		box-shadow		: 4px 4px 25px rgba(0, 0, 0, 0.15);

		overflow		: hidden;

		transform		: translateX(50vw);

		opacity			: 0;

		transition		: 0.5s ease;

		/* Odd */
		&:nth-of-type(odd) {
			flex-direction		: row;
		}

		/* Even */
		&:nth-of-type(even) {
			flex-direction		: row-reverse;
		}

		/* Meta */
		.meta {
			width			: 50%;

			padding			: 100px;

			display			: flex;
			flex-direction		: column;
			justify-content		: center;

			/* Underline */
			.underline {
				width			: 50px;
				height			: 0px;

				margin-top		: 10px;
				margin-bottom		: 5px;

				background		: #9B5AE6;
				border			: 2px solid #9B5AE6;
				border-radius		: 1px;

				transition		: 0.5s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;
			}

			/* Title */
			h3 {
				margin			: 0;

				font-size		: 16px;
			}

			/* Text */
			p {
				font-weight		: 400;
				font-size		: 1rem;
				line-height		: 1.5;
				letter-spacing		: 0.03em;
				text-rendering		: optimizeLegibility;
			}

			/* Call to Action */
			.call_to_action {
				width			: 200px;

				margin-top		: 25px;

				background-color	: #9B5AE6;
				color			: #FFFFFF;

				font-family		: Lato;
				font-style		: normal;
				font-weight		: 600;
				font-size		: 16px;
				line-height		: 18px;

				/* Hover */
				&:hover {
					background-color	: #7C52CA;
				}

			}
		}

		/* Media Container */
		.media_container {
			aspect-ratio		: 13/10;
			width			: 50%;

			overflow		: hidden;

			display			: flex;
			justify-content		: center;
			align-items		: center;
		}

		/* Mobile */
		@include media("<=mobilel") { 
			aspect-ratio		: auto;
			width			: 95%;

			/* Odd */
			&:nth-of-type(odd) {
				flex-direction		: column-reverse;
			}

			/* Even */
			&:nth-of-type(even) {
				flex-direction		: column-reverse;
			}

			/* Meta */
			.meta {
				width			: 100%;

				padding			: 10px 20px;

				align-items		: center;

				text-align		: center;

				h3 {
					font-size		: 1rem;
				}

				p {
					font-size		: 0.9rem;
				}

				.call_to_action {
					width			: 150px;

					margin 			: 10px 0;

					font-size		: 0.9rem;
				}
			}

			/* Media Container */
			.media_container {
				width			: 100%;
				height			: 300px;
			}
		}

		/* Tablet */
		@include media("<=tablet", ">mobilel") { 
			aspect-ratio		: auto;
			max-width		: 80%;

			/* Odd */
			&:nth-of-type(odd) {
				flex-direction		: column-reverse;
			}

			/* Even */
			&:nth-of-type(even) {
				flex-direction		: column-reverse;
			}

			/* Meta */
			.meta {
				width			: 100%;

				padding			: 25px 50px;

				align-items		: center;

				text-align		: center;
			}

			/* Media Container */
			.media_container {
				width			: 100%;
				height			: 350px;
			}
		}

		/* Laptop */
		@include media("<=laptop", ">tablet") { 
			aspect-ratio		: auto;
			max-width		: 80%;

			/* Odd */
			&:nth-of-type(odd) {
				flex-direction		: column-reverse;
			}

			/* Even */
			&:nth-of-type(even) {
				flex-direction		: column-reverse;
			}

			/* Meta */
			.meta {
				width			: 100%;

				padding			: 50px 100px;

				align-items		: center;

				text-align		: center;
			}

			/* Media Container */
			.media_container {
				width			: 100%;
				height			: 350px;
			}
		}

		/* Laptop L */
		@include media("<=1875px", ">=laptop") { 
			aspect-ratio		: auto;
			max-width		: 60%;

			/* Odd */
			&:nth-of-type(odd) {
				flex-direction		: column-reverse;
			}

			/* Even */
			&:nth-of-type(even) {
				flex-direction		: column-reverse;
			}

			/* Meta */
			.meta {
				width			: 100%;

				padding			: 50px 100px;

				align-items		: center;

				text-align		: center;
			}

			/* Media Container */
			.media_container {
				width			: 100%;
				height			: 500px;
			}
		}
	}

	/* Call to Action */
	.call_to_action {
		margin-top		: 25px;

		background-color	: #FFFFFF;
		color			: #9B5AE6;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: 600;
		font-size		: 16px;
		line-height		: 18px;

		/* Hover */
		&:hover {
			background-color	: #dadada;
		}
	}
}



/* ================================================= Career Timeline ================================================ */

.career_timeline {
	position		: relative;
	width			: 100%;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;

	color			: #FFFFFF;

	margin-top		: 100px;
	padding-top		: 100px;
	padding-bottom		: 100px;

	/* On Active */
	&.active {

		/* Title */
		.title {
			opacity			: 1;
	
			transform		: translateY(0);
		}

		/* Underline */
		.underline {
			opacity			: 1;
	
			transform		: translateY(0);
		}

		/* Timeline */
		.timeline {
			transform		: scaleY(1);

			/* Card */
			.card {
				opacity			: 1;
	
				transform		: scaleX(1);

				/* Mobile */
				@include media ("<=mobilel") {
					transform		: scaleY(1);
				}

				/* Laptop */
				@include media (">mobilel", "<=laptop") {
					transform		: scaleY(1);
				}
			}
		}

		/* Call to Action */
		.call_to_action {
			opacity			: 1;
	
			transform		: scaleY(1);
			transform-origin	: center;
		}

	}



	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		width			: 200%;
		height			: 100%;

		transform		: rotate(-2.5deg);

		background		: #332D61;

		z-index			: -1;
	}

	/* Connectors */
	.connectors {
		display			: flex;
		flex-direction		: row;
		justify-content		: center;
		align-items		: center;

		/* Connector */
		.connector {
			position		: absolute;
			height			: 100px;
			width			: 10px;
			top			: -50px;

			background		: #FFFFFF;
			border-radius		: 5px;

			animation		: timeline_connector 5s cubic-bezier(0.34,-0.39, 0.68, 1.38) infinite 0.35s;

			/* Third */
			&:nth-of-type(1) {
				height			: 80px;
				top			: -40px;

				margin-right		: 50px;

				animation-delay		: 0.25s;
			}

			/* Fifth */
			&:nth-of-type(3) {
				height			: 80px;
				top			: -40px;

				margin-left		: 50px;

				animation-delay		: 0.45s;
			}
		}
	}

	/* Title */
	.title {
		width			: 500px;

		
		transform		: translateY(100px);
		
		margin-top		: 100px;
		
		font-family		: Lato;
		font-style		: normal;
		font-weight		: 500;
		font-size		: 24px;
		letter-spacing		: 2.5px;
		word-spacing		: 2.5px;
		line-height		: 18px;
		text-align		: center;
		
		opacity			: 0;
		
		transition		: 0.5s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

		/* Link */
		@at-root #{selector.unify(&, "a")}::after {
			position		: absolute;
			bottom			: -0.2em;
			left			: 0;
			width			: 100%;
			height			: 0.1em;

			transform		: scaleX(0.35);
			transform-origin	: center;

			background-color	: #FFFFFF;
			opacity			: 1;

			content			: '';
		}
	}

	/* Underline */
	.underline {
		flex			: auto;
		width			: 200px;
		height			: 0px;

		margin-top		: 15px;
		margin-bottom		: 100px;

		border			: 1px solid #DDDDDD;
		border-radius		: 1px;

		transition		: 0.5s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

		transform		: translateY(100px);

		opacity			: 0;
	}

	/* Timeline */
	.timeline {
		position		: relative;

		transform		: scaleY(0);
		transform-origin	: top;

		transition		: 1.5s ease 0.25s;

		/* Line */
		&::before {
			position		: absolute;
			top			: 0;
			bottom			: 0;
			left			: 50%;

			border			: 1px solid #D8D8D8;
			border-radius		: 1px;

			content			: '';

			z-index			: 1;
		}
		


		/* ==================================================== Children ==================================================== */

		/* Card */
		.card {
			position		: relative;
			width			: $card-width;
			height			: auto;

			display			: flex;
			flex-direction		: column;
			box-shadow		: 4px 4px 50px rgba(0, 0, 0, 0.25);

			margin			: 0;
			margin-top		: math.div($card-margin, 2);
			margin-bottom		: math.div($card-margin, 2);

			transform		: scaleX(0);

			transition		: 0.5s ease 1s;

			opacity			: 0;

			z-index			: 2;

			/* Left */
			&:nth-child(odd) {
				margin-right		: $card-width + $card-margin;

				transform-origin	: right;

				/* Arrow */
				.head::before {
					position		: absolute;
					width			: 0;
					height			: 0;
					left			: 100%;

					border-color		: #46B8E9;
					border-top		: 10px solid transparent;
					border-bottom		: 10px solid transparent;
					border-left-width	: 10px;
					border-left-style	: solid;

					content			: "";
				}

				/* Marker */
				.head::after {
					position		: absolute;
					width			: $marker-size;
					height			: $marker-size;
					left			: $card-width + math.div($card-margin, 2) - math.div($marker-size, 2) + 1;

					background-color	: #D8D8D8;
					border-radius		: $marker-size;

					box-shadow		: 0px 0px 2px 8px #332D61;

					content			: "";
				}
			}

			/* Right */
			&:nth-child(even) {
				margin-left		: $card-width + $card-margin;

				transform-origin	: left;

				/* Head */
				.head::before {
					position		: absolute;
					width			: 0;
					height			: 0;
					right			: 100%;

					border-color		: #46B8E9;
					border-top		: 10px solid transparent;
					border-bottom		: 10px solid transparent;
					border-right-width	: 10px;
					border-right-style	: solid;

					content			: "";
				}

				/* Marker */
				.head::after {
					position		: absolute;
					width			: $marker-size;
					height			: $marker-size;
					right			: $card-width + math.div($card-margin, 2) - math.div($marker-size, 2) - 1;

					background-color	: #D8D8D8;
					border-radius		: $marker-size;

					box-shadow		: 0px 0px 2px 8px #332D61;

					content			: "";
				}
			}

			/* Head */
			.head {
				position		: relative;
				flex			: 0 1 $card-header-height;

				display			: flex;
				align-items		: center;

				background-color	: #46B8E9;
				color			: #FFFFFF;
				border-radius		: 5px 5px 0 0;

				font-weight		: 400;

				/* Icon Box */
				.icon_box {
					aspect-ratio		: 1/1;

					display			: inline;
					float			: left;
					width			: 50px;
					height			: 50px;

					margin			: $card-padding;

					background		: rgba(0, 0, 0, 0.15);
					border-radius		: 25%;

					/* Picture */
					img {
						width		: 100%;
						height		: 100%;

						padding		: 10px;
					}
				}

				/* Title */
				h2 {
					margin			: 0;
					margin-right		: 10px;
					margin-bottom		: 6px;

					font-weight		: inherit;
					line-height		: 1.75rem;

					/* Subtitle */
					span {
						display			: block;

						margin			: 0;

						color			: #EEEEEE;
						
						font-size		: 0.8rem;
						line-height		: 1rem;
					}
				}
			}

			/* Body */
			.body {
				position		: relative;
				width			: $card-width;
				flex			: 1 1 auto;

				background-color	: #FFFFFF;
				border-radius		: 0 0 10px 10px;
				color			: #3D3D3D;

				padding			: $card-padding;
				padding-left		: $card-padding + 10px;
				padding-right		: $card-padding + 10px;

				font-weight		: 400;
				font-size		: 1rem;
				line-height		: 1.5;
				letter-spacing		: 0.03em;
				text-rendering		: optimizeLegibility;

				/* Tags */
				.tags {
					padding-inline-start	: 0;

					/* Tag */
					li {
						display			: inline-block;
						width			: auto;
						height			: 32px;

						background-color	: #E4E4E4;
						border-radius		: 12px;
						color			: #5B5B5B;

						font-size		: 14px;
						text-align		: center;
						line-height		: 32px;

						padding			: 0 12px;
						margin-bottom		: 5px;
						margin-right		: 5px;
					}
				}
			}

			/* Footer */
			.card_footer {
				width			: $card-width;
				flex			: 0 1 10px;

				border			: none;
				border-radius		: 0 0 10px 10px;

				margin-top		: -5px;
			}

			/* Divider */
			.divider {
				width			: calc(100% - 10px);
				height			: 1px;

				background-color	: #D8D8D8;

				margin-left		: 5px;
				margin-right		: 5px;
				margin-top		: 20px;
				margin-bottom		: 20px;
			}

			/* Mobile */
			@include media ("<=mobilel") {
				width			: 95vw !important;

				margin-left		: 0 !important;
				margin-right		: 0 !important;
				margin-top		: 2 * $card-margin !important;
				margin-bottom		: 0 !important;

				transform		: scaleY(0);
				transform-origin	: top !important;

				.head {
					font-size		: 0.9rem;
				}

				.head::before {
					top			: -10px;
					left			: calc(50% - 9px) !important;
					right			: calc(50% - 9px) !important;

					border-color		: transparent transparent #B252FF transparent !important;
					border-width		: 0 10px 10px 10px !important;
					border-style		: solid !important;
				}

				.head::after {
					top			: -25px;
					left			: calc(50% - 4px) !important;
					right			: calc(50% - 4px) !important;
				}

				.body {
					width			: 95vw !important;

					font-size		: 0.9rem;
				}

				.card_footer {
					width			: 95vw !important;
				}
			}

			/* Laptop */
			@include media (">mobilel", "<=laptop") {
				margin-left		: 0 !important;
				margin-right		: 0 !important;
				margin-top		: 2 * $card-margin !important;
				margin-bottom		: 0 !important;

				transform		: scaleY(0);
				transform-origin	: top !important;

				.head::before {
					top			: -10px;
					left			: calc(50% - 9px) !important;
					right			: calc(50% - 9px) !important;

					border-color		: transparent transparent #B252FF transparent !important;
					border-width		: 0 10px 10px 10px !important;
					border-style		: solid !important;
				}

				.head::after {
					top			: -25px;
					left			: calc(50% - 4px) !important;
					right			: calc(50% - 4px) !important;
				}
			}
		}
		@for $i from 1 through $num-cards {

			/* Loop through each child and change colour */
			.card:nth-child(#{$i}) {

				/* Get Color */
				$color			: nth($card-colors, ((($i - 1) % 2) + 1));

				/* Change Color*/
				.head {
					background-color		: $color;
				}
				.head::before {
				  	border-color			: $color;
					border-top			: 10px solid transparent;
					border-bottom			: 10px solid transparent;
				}
				.card_footer {
					background-color		: $color;
				}
				button {
					border-color			: $color;
				}
				.icon {
					color				: $color;
				}
				
			}

		}

	}

	/* Call to Action */
	.call_to_action {
		color			: #674EB6;

		font-size		: 16px;

		margin-top		: 50px;
		margin-bottom		: 100px;

		opacity			: 0;

		transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38);

		transform		: scaleY(0);
		transform-origin	: top;

		/* Hover */
		&:hover {
			background-color	: #DADADA;

			transform		: scale(1.1);
		}
	}

}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

@keyframes typewriter {
	from {
		width			: 0;
	}
	to {
		width			: 100%;
	}
}

@keyframes background_gradient {
	0% {
		transform		: translateX(0%);
	}
	50% {
		transform		: translateX(-25%);
	}
	100% {
		transform		: translateX(0%);
	}
}

@keyframes background_fade {
	0% {
		transform		: scale(1);
		opacity			: 0;
	}
	10% {
		transform		: scale(1);
		opacity			: 1;
	}
	90% {
		transform		: scale(1.5);
		opacity			: 0;
	}
	100% {
		transform		: scale(1);
		opacity			: 0;
	}
}

@keyframes background_title {
	0% {
		opacity			: 0;
	}
	100% {
		opacity			: 1;
	}
}

@keyframes background_underline {
	0% {
		transform		: scaleX(0);
	}
	100% {
		transform		: scaleX(1);
	}
}

@keyframes blob {
	0% {
		border-radius		: 58% 42% 51% 49% / 30% 26% 74% 70%;

		opacity			: 0.05;

		transform		: rotate(250deg) translate(100px, 100px) scale(1.25);
	}
	25% {
		border-radius		: 71% 29% 32% 68% / 14% 75% 25% 86%;

		opacity			: 0.1;

		transform		: rotate(360deg) translate(100px, -200px) scale(1);
	}
	50% {
		border-radius		: 71% 29% 77% 23% / 75% 47% 53% 25%;

		opacity			: 0.15;

		transform		: rotate(470deg) translate(-100px, -200px) scale(1.25);
	}
	75% {
		border-radius		: 31% 69% 83% 17% / 24% 85% 15% 76% ;

		opacity			: 0.1;

		transform		: rotate(360deg) translate(-100px, 100px) scale(1);
	}
	100% {
		border-radius		: 58% 42% 51% 49% / 30% 26% 74% 70%;

		opacity			: 0.05;

		transform		: rotate(250deg) translate(100px, 100px) scale(1.25);
	}
}

@keyframes timeline_connector {
	0% {
		transform		: scaleY(1);
	}
	5% {
		transform		: scaleY(0.5);
	}
	10% {
		transform		: scaleY(1);
	}
	100% {
		transform		: scaleY(1);
	}
}