/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Import sass selector */
@use "sass:selector";

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Variables                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Timeline Card */
$num-cards		: 4;
$card-width		: 500px;
$card-height		: 600px;
$card-header-height	: 100px;
$card-margin		: 90px;
$card-padding		: 15px;
$card-colors		: #4f51ce, #8a4fce;
$marker-size		: 9px;





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Home */
.home {
	width			: 100%;
	height			: 100%;

	overflow-x		: hidden;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;



	/* ==================================================== Children ==================================================== */

	/* Navbar */
	.navbar {
		position		: absolute;
		width			: 100%;
		height			: 200px;
		top			: 65px;
	
		display			: flex;
		flex-direction		: row;
		flex-wrap		: wrap;
		justify-content		: center;
		align-items		: flex-start;



		/* ==================================================== Children ==================================================== */

		/* Logo */
		.logo {
			cursor			: pointer;

			flex			: 0 1 auto;
			height			: 72px;
			width			: 550px;
			margin-top		: 30px;

			transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

			/* Hover */
			&:hover {
				transform		: scale(1.15);
			}
		}

		/* Navbar Links */
		a {
			display			: block;
			position		: relative;
			
			padding			: 0.2em 0;
			margin-left		: 50px;
			margin-right		: 50px;

			font-family		: Lato;
			font-style		: normal;
			font-weight		: 500;
			font-size		: 16px;
			line-height		: 18px;

			text-decoration		: none;

			color			: #FFFFFF;
		}

		/* Navbar Link Underline */
		a::after {
			position		: absolute;
			bottom			: -0.2em;
			left			: 0;
			width			: 100%;
			height			: 0.2em;

			transform		: scaleX(0);
			transform-origin	: center;

			background-color	: #FFFFFF;
			opacity			: 1;

			content			: '';

			transition		: 0.25s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;
		}
		a:hover::after,
		a:focus::after,
		a.active:hover::after,
		a.active:focus:after {
			transform		: scaleX(0.9);
		}
		a.active::after {
			transform		: scaleX(0.7);
		}
	}

	/* Call to Action */
	.call_to_action {
		cursor			: pointer;

		width			: 200px;
		height			: 50px;
		
		margin			: 10px;
		padding			: 12px;

		background		: #FFFFFF;
		color			: #3D3D3D;
		border			: 3px solid transparent;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: bold;
		font-size		: 13px;
		line-height		: 18px;
		text-align		: center;

		box-sizing		: border-box;
		box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
		border-radius		: 50px;

		transition		: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

		/* Hover */
		&:hover {
			background		: #EEEEEE;

			transform		: scale(1.1);
		}

		/* Landing Page */
		&.landing_page {
			margin-top		: 85vh;

			color			: #634AB3;
			border			: 3px solid #634AB3;
			background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #634AB3 50%, #634AB3);
			background-position	: 100% 0;
			background-size		: 200% 200%;

			/* Hover */
			&:hover {
				background-position	: 0 0;
				color			: #FFFFFF;

				transform		: scale(1.1);
			}
		}
	}

	/* Buttons */
	button {
		cursor			: pointer;
		
		background		: #FFFFFF;
		border-width		: 2.5px 2.5px 5px 2.5px;
		border-radius		: 10px;
		border-style		: solid;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: bold;
		font-size		: 13px;
		line-height		: 18px;
		text-align		: center;

		padding			: 10px;

		transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

		/* Hover */
		&:hover {
			background		: #EEEEEE;

			transform		: scale(1.1);
		}
	}
}



/* ================================================== Landing Page ================================================== */

/* Background Mask */
.background_mask {
	position		: absolute;
	width			: 100%;
	height			: 95%;
	left			: 0;
	top			: 0;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;
	
	mask-image		: url(/home_background_1.svg);
	mask-size		: 100% 100%;
	mask-clip		: border-box;
	overflow		: hidden;
	
	z-index			: -1;



	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		width			: 200%;
		height			: 200%;
		left			: 0;
		top			: 0;
		
		background		: linear-gradient(114.17deg, #6C47B1 0%, #6C47B1 25%, #DB4A87 75%, #DB4A87 100%);

		animation		: background_gradient 30s ease 1s infinite;
		
		z-index			: -1;
	}

	/* Circles */
	.circles {
		position		: absolute;
		width			: 150%;
		height			: 150%;
	}

	/* Welcome Text */
	.welcome_text {
		position		: fixed;
		height			: auto;
		width			: auto;
		top			: 25%;

		display			: flex;
		flex-direction		: column;
		justify-content		: center;
		align-items		: center;



		/* ==================================================== Children ==================================================== */

		/* Title */
		.title {
			flex			: auto;

			font-family		: Lato;
			font-style		: normal;
			font-weight		: 400;
			font-size		: 32px;
			line-height		: 40px;
			letter-spacing		: 5px;
			word-spacing		: 5px;
			text-align		: center;

			opacity			: 0;

			color			: #FFFFFF;
			
			animation		: background_title 1s cubic-bezier(0.34,-0.39, 0.68, 1.38) forwards;
		}

		/* Underline */
		.underline {
			flex			: auto;
			width			: 200px;
			height			: 0px;

			margin-top		: 10px;
			margin-bottom		: 20px;

			border			: 1px solid #DDDDDD;
			border-radius		: 1px;

			transform		: scaleX(0);

			animation		: background_underline 1s ease forwards;
			animation-delay		: 1s;
		}

		/* Meta */
		.meta {
			flex			: auto;
			width			: 0;
			height			: 1.5em;

			overflow		: hidden;

			font-family		: Lato;
			font-style		: normal;
			font-weight		: 300;
			font-size		: 18px;
			line-height		: 23px;
			text-align		: center;
			word-break		: break-all;

			color			: #EEEEEE;

			animation		: background_meta 2s steps(100, end) 1s 1 normal both;
			animation-delay		: 2s;
		}

	}

}



/* ===================================================== Hire Me ==================================================== */

.hire_me {
	width			: 100%;

	color			: #3D3D3D;

	display			: flex;
	flex-direction		: column;
	align-items		: center;

	margin-top		: 50px;



	/* ==================================================== Children ==================================================== */

	/* Meta */
	.meta {
		max-width		: 70%;
		
		display			: flex;
		flex-direction		: row;
		align-items		: center;

		/* Description */
		.description {
			flex			: 1 1 100%;

			margin			: 50px;
			margin-top		: 20px;

			/* Paragraph */
			p {
				margin-top		: 0;
				margin-bottom		: 2em;
			}

			/* Button */
			button {
				width			: 150px;

				background		: #62cfae;
				border-color		: #36a181;
				color			: #FFFFFF;

				margin-top		: 2em;

				/* Hover */
				&:hover {
					background		: #54b396;
				}
			}
		}

		/* Image */
		.image {
			width			: 600px;
			height			: 375px;

			flex			: 1 1 100%;

			background		: #DDDDDD;
			border-radius		: 10px;

			font-size		: 5em;

			display			: flex;
			align-items		: center;
			justify-content		: center;

			margin			: 50px;
			margin-top		: 20px;
		}
	}

}



/* ================================================= Career Timeline ================================================ */

.career_timeline {
	width			: 100%;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;

	background		: #674eb6;
	color			: #FFFFFF;

	margin-top		: 100px;
	margin-bottom		: 200px;
	padding-top		: 100px;
	padding-bottom		: 100px;

	/* Slant */
	&::before {
		width			: 0;
		height			: 0;

		margin-top		: -199px;

		border-style		: solid;
		border-width		: 0 0 100px 100vw;
		border-color		: transparent transparent #674eb6 transparent;

		content			: '';
	}

	/* Slant */
	&::after {
		width			: 0;
		height			: 0;

		margin-bottom		: -199px;

		border-style		: solid;
		border-width		: 100px 100vw 0 0;
		border-color		: #674eb6 transparent transparent transparent;

		content			: '';
	}

	/* On Active */
	&.active {

		/* Title */
		.title {
			opacity			: 1;
	
			transform		: translateY(0);
		}

		/* Underline */
		.underline {
			opacity			: 1;
	
			transform		: translateY(0);
		}

		/* Timeline */
		.timeline {
			transform		: scaleY(1);

			/* Card */
			.card {
				opacity			: 1;
	
				transform		: scaleX(1);
			}
		}

	}



	/* ==================================================== Children ==================================================== */

	/* Title */
	.title {
		width			: 500px;

		
		transform		: translateY(100px);
		
		margin-top		: 100px;
		
		font-family		: Lato;
		font-style		: normal;
		font-weight		: 500;
		font-size		: 24px;
		letter-spacing		: 2.5px;
		word-spacing		: 2.5px;
		line-height		: 18px;
		text-align		: center;
		
		opacity			: 0;
		
		transition		: 0.5s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

		/* Link */
		@at-root #{selector.unify(&, "a")}::after {
			position		: absolute;
			bottom			: -0.2em;
			left			: 0;
			width			: 100%;
			height			: 0.1em;

			transform		: scaleX(0.35);
			transform-origin	: center;

			background-color	: #FFFFFF;
			opacity			: 1;

			content			: '';
		}
	}

	/* Underline */
	.underline {
		flex			: auto;
		width			: 200px;
		height			: 0px;

		margin-top		: 15px;
		margin-bottom		: 100px;

		border			: 1px solid #DDDDDD;
		border-radius		: 1px;

		transition		: 0.5s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

		transform		: translateY(100px);

		opacity			: 0;
	}

	/* Timeline */
	.timeline {
		position		: relative;

		transform		: scaleY(0);
		transform-origin	: top;

		transition		: 1.5s ease 0.25s;

		/* Line */
		&::before {
			position		: absolute;
			top			: 0;
			bottom			: 0;
			left			: 50%;

			border			: 1px solid #D8D8D8;
			border-radius		: 1px;

			content			: '';

			z-index			: 1;
		}
		


		/* ==================================================== Children ==================================================== */

		/* Card */
		.card {
			position		: relative;
			width			: $card-width;
			height			: auto;

			display			: flex;
			flex-direction		: column;
			box-shadow		: 4px 4px 50px rgba(0, 0, 0, 0.25);

			margin			: 0;
			margin-top		: $card-margin / 2;
			margin-bottom		: $card-margin / 2;

			transform		: scaleX(0);

			transition		: 0.5s ease 1s;

			opacity			: 0;

			z-index			: 2;

			/* Left */
			&:nth-child(odd) {
				margin-right		: $card-width + $card-margin;

				transform-origin	: right;

				/* Arrow */
				.head::before {
					position		: absolute;
					width			: 0;
					height			: 0;
					left			: 100%;

					border-color		: #46B8E9;
					border-top		: 10px solid transparent;
					border-bottom		: 10px solid transparent;
					border-left-width	: 10px;
					border-left-style	: solid;

					content			: "";
				}

				/* Marker */
				.head::after {
					position		: absolute;
					width			: $marker-size;
					height			: $marker-size;
					left			: $card-width + ($card-margin / 2) - ($marker-size / 2) + 1;

					background-color	: #D8D8D8;
					border-radius		: $marker-size;

					box-shadow		: 0px 0px 2px 8px #674eb6;

					content			: "";
				}
			}

			/* Right */
			&:nth-child(even) {
				margin-left		: $card-width + $card-margin;

				transform-origin	: left;

				/* Head */
				.head::before {
					position		: absolute;
					width			: 0;
					height			: 0;
					right			: 100%;

					border-color		: #46B8E9;
					border-top		: 10px solid transparent;
					border-bottom		: 10px solid transparent;
					border-right-width	: 10px;
					border-right-style	: solid;

					content			: "";
				}

				/* Marker */
				.head::after {
					position		: absolute;
					width			: $marker-size;
					height			: $marker-size;
					right			: $card-width + ($card-margin / 2) - ($marker-size / 2) - 1;

					background-color	: #D8D8D8;
					border-radius		: $marker-size;

					box-shadow		: 0px 0px 2px 8px #674eb6;

					content			: "";
				}
			}

			/* Head */
			.head {
				position		: relative;
				flex			: 0 1 $card-header-height;

				display			: flex;
				align-items		: center;

				background-color	: #46B8E9;
				color			: #FFFFFF;
				border-radius		: 5px 5px 0 0;

				font-weight		: 400;

				/* Icon Box */
				.icon_box {
					display			: inline;
					float			: left;
					width			: 50px;
					height			: 50px;

					margin			: $card-padding;

					background		: rgba(0, 0, 0, 0.15);
					border-radius		: 25%;

					/* Picture */
					img {
						width		: 100%;
						height		: 100%;

						padding		: 10px;
					}
				}

				/* Title */
				h2 {
					margin			: 0;
					margin-bottom		: 6px;

					font-weight		: inherit;
					line-height		: 1rem;

					/* Subtitle */
					span {
						display			: block;

						margin			: 0;
						margin-bottom		: 6px;

						font-size		: 0.8rem;
					}
				}
			}

			/* Body */
			.body {
				position		: relative;
				width			: $card-width;
				flex			: 1 1 auto;

				background-color	: #FFFFFF;
				border-radius		: 0 0 10px 10px;
				color			: #3D3D3D;

				padding			: $card-padding;
				padding-left		: $card-padding + 10px;
				padding-right		: $card-padding + 10px;

				/* Tags */
				.tags {
					padding-inline-start	: 0;

					/* Tag */
					li {
						display			: inline-block;
						width			: auto;
						height			: 32px;

						background-color	: #E4E4E4;
						border-radius		: 12px;
						color			: #5B5B5B;

						font-size		: 14px;
						text-align		: center;
						line-height		: 32px;

						padding			: 0 12px;
						margin-bottom		: 5px;
						margin-right		: 5px;
					}
				}
			}

			/* Footer */
			.card_footer {
				width			: $card-width;
				flex			: 0 1 10px;

				border			: none;
				border-radius		: 0 0 10px 10px;

				margin-top		: -5px;
			}

			/* Divider */
			.divider {
				width			: calc(100% - 10px);
				height			: 1px;

				background-color	: #D8D8D8;

				margin-left		: 5px;
				margin-right		: 5px;
				margin-top		: 20px;
				margin-bottom		: 20px;
			}
		}
		@for $i from 1 through $num-cards {

			/* Loop through each child and change colour */
			.card:nth-child(#{$i}) {

				/* Get Color */
				$color			: nth($card-colors, ((($i - 1) % 2) + 1));

				/* Change Color*/
				.head {
					background-color		: $color;
				}
				.head::before {
				  	border-color			: $color;
					border-top			: 10px solid transparent;
					border-bottom			: 10px solid transparent;
				}
				.card_footer {
					background-color		: $color;
				}
				button {
					border-color			: $color;
				}
				.icon {
					color				: $color;
				}
				
			}

		}

	}

	/* Call to Action */
	.call_to_action {
		color			: #674eb6;

		font-size		: 16px;

		margin-top		: 50px;
		margin-bottom		: 100px;
	}

}



/* ==================================================== Showcase ==================================================== */

.showcase {
	width			: 100%;
	height			: 750px;
}



/* ===================================================== Footer ===================================================== */

.footer {
	width			: 100%;
	height			: 300px;

	display			: flex;
	flex-direction		: column;
	align-items		: center;

	background		: #3D3D3D;
	color			: #DDDDDD;

	padding			: 25px;
	padding-left		: 100px;
	padding-right		: 100px;



	/* ==================================================== Children ==================================================== */

	/* Divider */
	.divider {
		width		: 70%;
		height		: 0px;

		border			: 1px solid #646464;
		border-radius		: 1px;
	}

	/* Links */
	.links {
		width			: auto;

		list-style		: none;

		padding-inline-start	: 0;
		margin			: 0;

		/* Tag */
		li {
			cursor			: pointer;

			display			: inline-block;

			font-size		: 1.5em;
			text-align		: center;

			margin			: 5px;

			transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

			/* Hover */
			&:hover {
				transform		: scale(1.25);
			}
		}
	}

}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

@keyframes background_gradient {
	0% {
		transform		: translateX(0%);
	}
	50% {
		transform		: translateX(-25%);
	}
	100% {
		transform		: translateX(0%);
	}
}

@keyframes background_fade {
	0% {
		transform		: scale(1);
		opacity			: 0;
	}
	10% {
		transform		: scale(1);
		opacity			: 1;
	}
	90% {
		transform		: scale(1.5);
		opacity			: 0;
	}
	100% {
		transform		: scale(1);
		opacity			: 0;
	}
}

@keyframes background_title {
	0% {
		opacity			: 0;
	}
	100% {
		opacity			: 1;
	}
}

@keyframes background_underline {
	0% {
		transform		: scaleX(0);
	}
	100% {
		transform		: scaleX(1);
	}
}

@keyframes background_meta {
	from {
		width			: 0;
	}
	to {
		width			: 100%;
	}
}