/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Home */
.home {
	width			: 100%;
	height			: 100%;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;
}

/* Background Mask */
.home .background_mask {
	position		: absolute;
	width			: 100%;
	height			: 95%;
	left			: 0;
	top			: 0;
	
	mask-image		: url(/home_background_1.svg);
	mask-size		: 100% 100%;
	mask-clip		: border-box;
	overflow		: hidden;
	
	z-index			: -1;
}

/* Background */
.home .background {
	position		: absolute;
	width			: 200%;
	height			: 200%;
	left			: 0;
	top			: 0;
	
	background		: linear-gradient(114.17deg, #6C47B1 0%, #6C47B1 25%, #DB4A87 75%, #DB4A87 100%);

	animation		: background_gradient 30s cubic-bezier(0.42, 0, 0.58, 1) 1s infinite;
	
	z-index			: -1;
}

/* Circle */
@for $i from 1 through 5 {
	.home .circle:nth-of-type(#{$i}) {
		position		: absolute;
	
		background		: rgba(187, 187, 187, 0.1);
		opacity			: 0;
		border-radius		: 50%;
	
		animation		: background_fade 15s cubic-bezier(0.42, 0, 0.58, 1) infinite;
		transition-delay	: random() + s;
		animation-delay		: random() + s;
	}
}

/* Logo */
.home .logo {
	position		: absolute;
	height			: 72px;
	width			: 72px;
	top			: 7.5%;
}

/* Welcome Text */
.home .welcome_text {
	position		: absolute;
	height			: auto;
	width			: auto;
	top			: 25%;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;
}

/* Title */
.home .title {
	flex			: auto;
	max-width		: 13em;

	font-family		: Oxygen;
	font-style		: normal;
	font-weight		: bold;
	font-size		: 32px;
	line-height		: 40px;
	letter-spacing		: 5px;
	word-spacing		: 5px;
	text-align		: center;

	color			: #FFFFFF;
}

/* Underline */
.home .underline {
	flex			: auto;
	width			: 200px;
	height			: 0px;

	margin-top		: 10px;
	margin-bottom		: 20px;

	border			: 2px solid #FFFFFF;
	border-radius		: 1px;
}

/* Meta */
.home .meta {
	flex			: auto;
	max-width		: 20em;

	font-family		: Oxygen;
	font-style		: normal;
	font-weight		: normal;
	font-size		: 18px;
	line-height		: 23px;
	text-align		: center;

	color			: #EEEEEE;
}

/* Call to Action */
.home .call_to_action {
	cursor			: pointer;

	position		: absolute;
	width			: 200px;
	height			: 50px;
	top			: 75%;
	padding			: 12.5px;

	font-family		: Oxygen;
	font-style		: normal;
	font-weight		: bold;
	font-size		: 13px;
	line-height		: 18px;
	text-align		: center;

	background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #6C47B1 50%, #6C47B1);
	background-position	: 100% 0;
	background-size		: 200% 200%;
	color			: #6C47B1;
	border			: 3px solid #6C47B1;
	box-sizing		: border-box;
	box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
	border-radius		: 50px;

	transition		: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.home .call_to_action:hover {
	background-position	: 0 0;
	color			: #FFFFFF;

	transform		: scale(1.1);
}



/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

@keyframes background_gradient {
	0% {
		transform		: translateX(0%);
	}
	50% {
		transform		: translateX(-25%);
	}
	100% {
		transform		: translateX(0%);
	}
}

@keyframes background_fade {
	0% {
		transform		: scale(1);
		opacity			: 0;
	}
	5% {
		transform		: scale(1);
		opacity			: 1;
	}
	90% {
		transform		: scale(1.5);
		opacity			: 0;
	}
	100% {
		transform		: scale(1);
		opacity			: 0;
	}
}