/* Home */
.home {
	width			: 100vw;
	height			: 100vh;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;
}

/* Background */
.home .background {
	position		: absolute;
	width			: 100vw;
	height			: 95vh;
	left			: 0px;
	top			: 0px;

	z-index			: -1;
}

/* Welcome Text */
.home .welcome_text {
	position		: absolute;
	height			: auto;
	width			: auto;
	top			: 25%;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;
}

/* Title */
.home .title {
	flex			: auto;
	max-width		: 13em;

	font-family		: Oxygen;
	font-style		: normal;
	font-weight		: bold;
	font-size		: 32px;
	line-height		: 40px;
	letter-spacing		: 5px;
	word-spacing		: 5px;
	text-align		: center;

	color			: #FFFFFF;
}

/* Underline */
.home .underline {
	flex			: auto;
	width			: 200px;
	height			: 0px;

	margin-top		: 10px;
	margin-bottom		: 20px;

	border			: 2px solid #FFFFFF;
	border-radius		: 1px;
}

/* Meta */
.home .meta {
	flex			: auto;
	max-width		: 20em;

	font-family		: Oxygen;
	font-style		: normal;
	font-weight		: normal;
	font-size		: 18px;
	line-height		: 23px;
	text-align		: center;

	color			: #EEEEEE;
}

/* Call to Action */
.home .call_to_action {
	cursor			: pointer;

	position		: absolute;
	width			: 250px;
	height			: 65px;
	top			: 75%;

	background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #6C47B1 50%, #6C47B1);
	background-position	: 100% 0;
	background-size		: 200% 100%;
	color			: #000000;
	border			: 3px solid #6C47B1;
	box-sizing		: border-box;
	box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
	border-radius		: 50px;

	transition		: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.home .call_to_action:hover {
	background-position	: 0 0;
	color			: #FFFFFF;

	transform		: scale(1.1);
}