/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Imports                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Import sass selector */
@use "sass:selector";

/* Import media queries */
@use "./media.scss" as *;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Variables                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                       Styles                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Projects */
.projects {
	position		: relative;
	width			: 100%;
	height			: 100%;

	overflow-x		: hidden;

	background		: #F8F8F8;

	flex			: 1;
	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;



	/* ==================================================== Children ==================================================== */

	/* Navbar Background */
	.navbar_background {
		position		: absolute;
		top			: 0;
		left			: 0;
		width			: 100%;

		transform		: scaleX(-1);

		line-height		: 0;

		&::after {
			position		: absolute;
			width			: 100%;
			height			: 100%;
			bottom			: 100%;
			
			background		: #FFFFFF;

			content			: '';
		}
		    
		svg {
			position		: relative;
			width			: calc(100% + 1.3px);
			height			: 160px;

			display			: block;

			filter			: drop-shadow(4px 4px 25px rgba(0, 0, 0, .15));
		}
		    
		.shape_fill {
			fill			: #FFFFFF;
		}

		/* Mobile Small */
		@include media("<=mobiles") { 
			top			: 50px;

			svg {
				height			: 50px;
				width			: 125%;
				left			: -12.5%;
			}
		}

		/* Mobile */
		@include media(">mobiles", "<=mobilel") { 
			top			: 40px;

			svg {
				height			: 70px;
				width			: 125%;
				left			: -12.5%;
			}
		}

		/* Tablet */
		@include media(">mobilel", "<=tablet") { 
			width			: 110%;
			top			: 25px;
			left			: -5%;

			transform			: scaleX(1);

			svg {
				height			: 90px;
			}
		}

		/* Laptop */
		@include media(">tablet", "<=laptop") { 
			top			: 15px;

			svg {
				height			: 120px;
			}
		}
	}

	/* Trigger */
	.trigger {
		position		: absolute;
		top			: 750px;
	}

	/* Project Navigation */
	.project_navigation {
		pointer-events		: none;

		position		: absolute;
		width			: 100%;
		top			: 650px;

		padding			: 50px;

		color			: #646464;

		font-size		: 2em;

		display			: flex;
		flex-direction		: row;
		justify-content		: space-between;
		align-items		: center;

		/* Active */
		&.active {
			position		: fixed;
			height			: 100%;
			top			: 0;
		}

		/* Arrow */
		.arrow {
			opacity			: 0.5;

			transition		: 0.15s ease-in-out;

			display			: flex;
			flex-direction		: row;
			justify-content		: flex-start;
			align-items		: center;

			/* Hover */
			&:hover {
				opacity			: 1;

				transform		: scale(1.25);

				/* Left */
				&:nth-child(1) {
					
					/* Text */
					.text {
						opacity			: 1;

						transform		: translateX(-40px);
					}

				}

				/* Right */
				&:nth-child(2) {
					
					/* Text */
					.text {
						opacity			: 1;

						transform		: translateX(40px);
					}

				}
			}

			/* Left */
			&:nth-child(1) {
					
				/* Text */
				.text {
					transform		: translateX(-100px);
					transform-origin	: left;
				}

			}

			/* Right */
			&:nth-child(2) {
					
				/* Text */
				.text {
					transform		: translateX(100px);
					transform-origin	: right;
				}

			}

			/* Text */
			.text {
				pointer-events		: none;

				display			: inline-block;

				opacity			: 0;

				color			: #646464;

				font-size		: 0.5em;
				font-family		: Work Sans;
				font-weight		: 500;
				white-space		: nowrap;

				transition		: 0.25s ease-in-out;
			}

			/* Link */
			a {
				padding			: 50px;
			}
		}
	}

	/* Banner */
	.banner {
		position		: absolute;
		width			: 100%;
		height			: 500px;
		top			: 0;

		background		: #9B5AE6;
	}

	/* Call to Action */
	.call_to_action {
		cursor			: pointer;

		width			: 200px;
		height			: 50px;
		
		margin			: 10px;
		padding			: 12px;

		background		: #FFFFFF;
		color			: #3D3D3D;
		border			: 3px solid transparent;

		font-family		: Lato;
		font-style		: normal;
		font-weight		: bold;
		font-size		: 13px;
		line-height		: 18px;
		text-align		: center;

		box-sizing		: border-box;
		box-shadow		: 4px 4px 80px rgba(0, 0, 0, 0.25);
		border-radius		: 50px;

		transition		: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

		/* Hover */
		&:hover {
			background		: #EEEEEE;

			transform		: scale(1.1);
		}

		/* Landing Page */
		&.landing_page {
			margin-top		: 85vh;

			color			: #6C47B1;
			border			: 3px solid #6C47B1;
			background-image	: linear-gradient(to left, #FFFFFF, #FFFFFF 50%, #6C47B1 50%, #6C47B1);
			background-position	: 100% 0;
			background-size		: 200% 200%;

			font-size		: 13px;
			font-weight		: bolder;

			/* Hover */
			&:hover {
				background-position	: 0 0;
				color			: #FFFFFF;

				transform		: scale(1.1);
			}
		}
	}
}



/* ================================================== Project List ================================================== */
.project_list {
	position		: relative;
	width			: 100%;
	height			: auto;

	margin-top		: 250px;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;

	/* Active */
	&.active {

		/* Description */
		.description {
			opacity			: 1;
		}
	}



	/* ==================================================== Children ==================================================== */

	/* Header */
	.header {
		position		: relative;

		margin			: 25px 50px;

		color			: #3D3D3D;

		font-family		: Work Sans;
		font-size		: 1.75rem;
		font-weight		: bold;
		letter-spacing		: 1.5px;
		text-align		: center;

		/* Underline */
		&::after {
			position		: absolute;
			width			: 75%;
			height			: 0.1em;
			left			: 12.5%;
			bottom			: -0.5rem;

			background-color	: #3D3D3D;
			border-radius		: 0.05em;
			opacity			: 1;

			content			: '';
		}
	}

	/* Meta */
	.meta {
		position		: relative;

		margin			: 10px 50px;

		color			: #3D3D3D;

		font-family		: Lato;
		font-size		: 1.25rem;
		letter-spacing		: 0.5px;
		text-align		: center;
	}

	/* Disclaimer */
	.disclaimer {
		position		: relative;

		margin			: 10px 50px;
		margin-bottom		: 60px;

		color			: #AAAAAA;

		font-family		: Lato;
		font-size		: 1rem;
		letter-spacing		: 0.5px;
		text-align		: center;
	}

	/* Toolbar */
	.toolbar {
		width			: calc(80% - 100px);

		padding			: 25px;

		background		: #FFFFFF;
		color			: #3D3D3D;
		border-radius		: 15px;

		box-shadow		: 0 0 10px rgba(0, 0, 0, 0.05);

		display			: flex;
		flex-direction		: row;
		justify-content		: center;
		align-items		: center;

		/* Search Results */
		.search_results {
			flex			: 0 1 100%;
		}

		/* Search Tools */
		.search_tools {
			flex			: 0 1 80%;

			display			: flex;
			flex-direction		: row;
			justify-content		: flex-end;
			align-items		: center;

			/* Sarch Bar */
			.search_bar {
				position		: relative;
				flex			: 1 1 100%;

				margin-right		: 10px;

				/* Hover */
				&:hover {
					/* Input Element */
					input {
						border			: 2px solid #9B5AE6;

						color			: #9B5AE6;
					}
				}

				/* Input Element */
				input {
					width			: 100%;

					padding			: 0.75rem 1.25rem;

					color			: #3D3D3D;
					border			: 2px solid #DDDDDD;
					border-radius		: 1.5rem;

					font-size		: 0.9rem;
					font-family		: Lato;
					letter-spacing		: 0.03em;
					text-rendering		: optimizeLegibility;

					outline			: none;

					transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;

					/* Focus */
					&:focus, &:not(:focus):valid {
						border			: 2px solid #9B5AE6;

						/* Label */
						~ label {
							opacity			: 0;
						}
					}

					/* Autofill */
					&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
						-webkit-box-shadow	: 0 0 0 30px white inset !important;
						box-shadow		: 0 0 0 30px white inset !important;
					}
				}

				/* Label */
				label {
					pointer-events		: none;

					position		: absolute;
					left			: 0;
					top			: 0;

					margin			: 0.75rem 1.25rem;

					color			: #AAAAAA;

					font-size		: 0.8rem;
					line-height		: 1.25rem;
					letter-spacing		: 0.05rem;

					transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38) 0s;
				}

				/* Clear */
				.search_clear {
					cursor			: pointer;

					position		: absolute;
					right			: 0;
					top			: 0;

					display			: none;

					margin			: 0.75rem 1.25rem;

					color			: #646464;

					transition		: 0.25s ease-in-out;

					/* Hover */
					&:hover {
						transform		: scale(1.25);
					}

					/* Active */
					&.active {
						display			: block;
					}
				}
			}
			
			/* Dropdown */
			.dropdown {
				position		: relative;
				flex			: 0 0 40px;
				height			: 40px;

				/* Active */
				&.active {

					/* Button */
					.button {
						background		: #7B51CA;
						border-radius		: 15px;
					}

					/* Menu */
					.menu {
						max-height		: 450px;
					}
				}

				/* Button */
				.button {
					cursor			: pointer;

					width			: 100%;
					height			: 100%;

					background		: #9B5AE6;
					color			: #FFFFFF;
					border-radius		: 20px;

					display			: flex;
					justify-content		: center;
					align-items		: center;

					transition		: 0.2s cubic-bezier(0.34,-0.39, 0.68, 1.38);

					/* Hover */
					&:hover	{
						background		: #7B51CA;
						border-radius		: 15px;
					}
				}

				/* Menu */
				.menu {
					position		: absolute;
					left			: -85px;
					top			: calc(100% + 20px);
					max-height		: 0;
					width			: 200px;

					overflow		: hidden;

					background		: #FFFFFF;
					color			: #3D3D3D;
					border-radius		: 10px;

					box-shadow		: 0 0 20px rgba(0, 0, 0, 0.2);

					z-index			: 5;

					transition		: max-height 0.25s ease-in-out;

					/* Section */
					.section {
						cursor			: default;

						padding			: 15px;

						border-bottom		: 1px solid #DDDDDD;
						border-top		: 1px solid #DDDDDD;

						font-family		: Work Sans;
						font-weight		: 600;
						font-size		: 1em;
						white-space		: nowrap;
						text-align		: center;
					}

					/* Item */
					.item {
						cursor			: pointer;

						padding			: 10px;

						background		: #FAFAFA;

						font-family		: Lato;
						font-size		: 0.85em;
						white-space		: nowrap;
						text-align		: center;

						transition		: 0.15s ease-in-out;

						/* Hover */
						&:hover	{
							background		: #EFEFEF;
						}

						/* Active */
						&.active {
							color			: #9B5AE6;

							font-weight		: bold;
						}
					}
				}
			}
		}
	}

	/* Grid */
	.grid {
		width			: 80%;

		margin-bottom		: 100px;
		padding			: 40px 60px;

		display			: grid;

		grid-template-columns	: repeat(3, minmax(140px, 1fr));
		grid-auto-flow		: row;
		align-items		: center;
		gap			: 50px;

		/* Cards */
		.card {
			position		: relative;
			width			: 100%;
			height			: 300px;

			opacity			: 0;

			padding			: 50px;

			overflow		: hidden;

			background		: #FFFFFF;
			color			: #FFFFFF;
			border-radius		: 15px;

			display			: flex;
			flex-direction		: column;
			justify-content		: center;
			align-items		: center;

			box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);

			transform		: scale(0);

			animation		: project_card_fade 0.5s ease-in-out forwards;

			/* Hover */
			&:hover {
				transform		: scale(1.05);

				/* Background */
				.background {

					/* Image */
					img {
						filter			: blur(2.5px) brightness(0.5) !important;
					}
				}

				/* Title */
				.title {
					opacity			: 1;
				}

				/* Description */
				.description {
					opacity			: 1;
				}

				/* Call to Action */
				.call_to_action {
					opacity			: 1;
				}
			}

			/* Complete */
			&.complete {
				border			: solid #56D456;
				border-width		: 0 0 2.5px 0;
			}

			/* In Progress */
			&.in_progress {
				border			: solid orange;
				border-width		: 0 0 2.5px 0;
			}

			/* Incomplete */
			&.incomplete {
				border			: solid red;
				border-width		: 0 0 2.5px 0;
			}

			/* Background */
			.background {
				position		: absolute;
				width			: 100%;
				height			: 100%;

				border-radius		: 17.5px 17.5px 15px 15px;

				overflow		: hidden;

				object-fit		: cover;

				/* Image */
				img {
					width			: 100%;
					height			: 100%;

					object-fit		: cover;

					filter			: blur(0) brightness(1) !important;
				}
			}

			/* Featured */
			.featured {
				position		: absolute;
				right			: 0;
				top			: 0;

				color			: #FFFFFF;
				border-style		: solid;
				border-color		: transparent #FFE000 transparent transparent;
				border-width		: 0 70px 70px 0;

				filter			: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));

				font-size		: 1em;

				/* Icon */
				i {
					position		: absolute;
					right			: -55px;
					top			: 15px;
					
					transform		: rotate(0deg);
				}
			}

			/* Tag */
			.tag {
				position		: absolute;
				top			: 0;
				left			: 0;

				color			: #FFFFFF;
				border-style		: solid;
				border-color		: #9B5AE6 transparent transparent transparent;
				border-width		: 70px 70px 0 0;

				filter			: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));

				font-size		: 1em;

				/* Icon */
				i {
					position		: absolute;
					left			: 15px;
					top			: -55px;
					
					transform		: rotate(0deg);
				}
			}

			/* Title */
			.title {
				margin-top		: 15px;
				margin-bottom		: 15px;

				opacity			: 0;

				font-family		: Work Sans;
				font-size		: 1.25em;
				font-weight		: bold;
				letter-spacing		: 1px;
				text-align		: center;

				z-index			: 1;

				transition		: 0.25s ease-in-out;
			}

			/* Description */
			.description {
				opacity			: 0;

				text-align		: center;

				z-index			: 1;

				transition		: 0.25s ease-in-out;
			}

			/* Call to Action */
			.call_to_action {
				margin			: 0;
				margin-top		: 25px;

				opacity			: 0;

				background		: #9048E2;
				color			: #FFFFFF;
				border			: 2px solid #9048E2;

				transition		: opacity 0.25s ease-in-out,
							  transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

				z-index			: 1;
			}
		}
		@for $i from 1 through 1000 {
			.card:nth-child(#{$i}) {
				animation-delay		: $i * 0.1s;
			}
		}
	}

	/* Pagination */
	.pagination {
		padding			: 5px 10px;

		grid-column		: 1 / span 3;
		place-self		: center;

		display			: flex;
		flex-direction		: row;
		justify-content		: center;
		align-content		: center;

		/* Page */
		.page {
			cursor			: pointer;

			width			: 20px;
			height			: 20px;

			margin			: 0 3px;

			display			: flex;
			flex-direction		: column;
			justify-content		: center;
			align-content		: center;

			border			: 2px solid #9B5AE6;
			border-radius		: 50%;

			font-size		: 0.9em;
			text-align		: center;

			transition		: 0.15s cubic-bezier(0.34,-0.39, 0.68, 1.38);

			box-shadow		: 0 0 10px rgba(0, 0, 0, 0.15);

			/* Hover */
			&:hover {
				background		: #9B5AE6;

				transform		: scale(1.05);
			}

			/* Active */
			&.active {
				background		: #9B5AE6;

				transform		: scale(1.1);
			}
		}
	}

	/* Loader */
	.loader {
		width			: 100%;
		height			: 500px;

		display			: flex;
		flex-direction		: column;
		justify-content		: center;
		align-items		: center;

		grid-column-end		: 4;
		grid-column-start	: 1;

		color			: #646464;

		/* Text */
		p {
			font-family		: Work Sans;
			font-size		: 1.25rem;
			text-align		: center;
		}

		/* Icon */
		i {
			font-size		: 2em;
		}
	}

}



/* ================================================= Project Details ================================================ */
.project_details {
	position		: relative;
	width			: 70%;
	height			: auto;

	margin-top		: 250px;
	margin-bottom		: 100px;
	padding			: 10%;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: center;



	/* ==================================================== Children ==================================================== */

	/* Background */
	.background {
		position		: absolute;
		width			: 100%;
		height			: 100%;
		left			: 0;
		top			: 0;

		background		: #FFFFFF;
		border-bottom		: 5px solid #9B5AE6;
		border-radius		: 10px;

		box-shadow		: 0 0 25px rgba(0, 0, 0, 0.15);
	}

	/* Breadcrumbs */
	.breadcrumbs {
		position		: absolute;
		top			: 50px;

		/* Link */
		.link {
			display			: inline-block;

			color			: #9B5AE6;

			font-weight		: bold;

			/* Active */
			&.active {
				color			: #3D3D3D;
			}

			/* Skeleton */
			.skeleton {
				width			: 150px !important;

				background-image	: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(240, 240, 240, 1) 100%) !important;
				background-size		: 200% 100% !important;
				color			: transparent !important;

				line-height		: 1.8 !important;

				animation		: skeleton_loading 2s infinite linear forwards;
			}
		}

		/* Divider */
		.divider {
			display			: inline-block;

			margin			: 0 15px;

			font-size		: 0.8em;
		}
	}

	/* Header */
	.header {
		position		: relative;

		margin			: 0;
		margin-top		: -25px;

		color			: #3D3D3D;

		font-family		: Work Sans;
		font-size		: 2.5rem;
		font-weight		: bold;
		letter-spacing		: 1.5px;
		text-align		: center;

		/* Skeleton */
		.skeleton {
			width			: 750px !important;

			background-image	: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(240, 240, 240, 1) 100%) !important;
			background-size		: 200% 100% !important;
			color			: transparent !important;

			line-height		: 1.5 !important;

			animation		: skeleton_loading 2s infinite linear forwards;
		}
	}

	/* Meta */
	.meta {
		position		: relative;

		margin			: 10px 0;
		margin-bottom		: 50px;

		color			: #646464;

		font-family		: Lato;
		font-size		: 1.5rem;
		letter-spacing		: 0.5px;
		text-align		: center;

		/* Skeleton */
		.skeleton {
			width			: 400px !important;

			background-image	: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(240, 240, 240, 1) 100%) !important;
			background-size		: 200% 100% !important;
			color			: transparent !important;

			line-height		: 1.5 !important;

			animation		: skeleton_loading 2s infinite linear forwards;
		}
	}

	/* Slideshow */
	.slideshow {
		aspect-ratio		: 13/10;
		width			: 100%;
		height			: 600px;

		margin-bottom		: 50px;

		overflow		: hidden;

		border-radius		: 10px;

		display			: flex;
		justify-content		: center;
		align-items		: center;
	}

	/* Title */
	.title {
		margin-bottom		: 25px;

		color			: #3D3D3D;

		font-family		: Work Sans;
		font-size		: 1.5em;
		font-weight		: bold;
		text-align		: center;
	}

	/* Divider */
	.line_divider {
		width			: 650px;
		height			: 0;

		margin-top		: 50px;

		border			: 1px solid #EFEFEF;
	}

	/* Details */
	.details {
		position		: relative;
		width			: 100%;

		margin			: 50px 0;

		color			: #646464;

		font-family		: Lato;
		font-size		: 1em;
		letter-spacing		: 0.5px;
		text-align		: center;

		display			: flex;
		flex-direction		: column;
		justify-content		: flex-start;
		align-items		: center;

		/* Icon */
		.icon {
			color			: #646464;

			margin-right		: 10px;
		}

		/* Skeleton */
		.skeleton {
			width			: 150px !important;

			background-image	: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(240, 240, 240, 1) 100%) !important;
			background-size		: 200% 100% !important;
			color			: transparent !important;

			line-height		: 1.5 !important;

			animation		: skeleton_loading 2s infinite linear forwards;
		}
	}

	/* Description */
	.description {
		position		: relative;
		width			: 75%;

		margin			: 50px 0;

		color			: #646464;

		font-family		: Lato;
		font-size		: 1em;
		letter-spacing		: 0.5px;
		text-align		: justify;
		text-align-last		: center;

		display			: flex;
		flex-direction		: column;
		justify-content		: flex-start;
		align-items		: center;

		/* Text */
		.text {
			color			: #3D3D3D;

			font-size		: 1em;
			font-family		: Lato;
			line-height		: 1.8;
			letter-spacing		: 0.03em;
			text-rendering		: optimizeLegibility;

			/* Image */
			img {
				object-fit		: contain;
			}
		}

		/* Skeleton */
		.skeleton {
			width			: 400px !important;

			background-image	: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(240, 240, 240, 1) 100%) !important;
			background-size		: 200% 100% !important;
			color			: transparent !important;

			line-height		: 1.5 !important;

			animation		: skeleton_loading 2s infinite linear forwards;
		}
	}

	/* Tech Stack */
	.tech_stack {
		position		: relative;
		width			: 100%;

		margin			: 50px 0;

		color			: #646464;

		font-family		: Lato;
		font-size		: 1em;
		letter-spacing		: 0.5px;
		text-align		: center;

		display			: flex;
		flex-direction		: column;
		justify-content		: flex-start;
		align-items		: center;

		/* List */
		.list {
			margin			: 25px auto;
			padding-inline-start	: 0;

			display			: table;

			color			: #3D3D3D;
			
			list-style		: none;

			font-size		: 1.25em;
			font-family		: Lato;
			line-height		: 1.8;
			letter-spacing		: 0.03em;
			text-rendering		: optimizeLegibility;
		}

		/* Skeleton */
		.skeleton {
			width			: 400px !important;

			background-image	: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(240, 240, 240, 1) 100%) !important;
			background-size		: 200% 100% !important;
			color			: transparent !important;

			line-height		: 1.5 !important;

			animation		: skeleton_loading 2s infinite linear forwards;
		}
	}

	/* Links */
	.links {
		position		: relative;
		width			: 100%;

		margin			: 50px 0;

		color			: #646464;

		font-family		: Lato;
		font-size		: 1em;
		letter-spacing		: 0.5px;
		text-align		: center;

		display			: flex;
		flex-direction		: column;
		justify-content		: flex-start;
		align-items		: center;

		/* List */
		.list {
			margin			: 25px auto;
			padding-inline-start	: 0;

			color			: #3D3D3D;

			display			: table;
			
			list-style		: none;

			font-size		: 1em;
			font-family		: Lato;
			line-height		: 1.8;
			letter-spacing		: 0.03em;
			text-rendering		: optimizeLegibility;
			text-align		: left;

			/* Link */
			a {
				color			: blue;

				font-family		: Lato;
				font-size		: 1.25em;
				letter-spacing		: 0.5px;
				text-align		: left;
			}
		}

		/* Skeleton */
		.skeleton {
			width			: 400px !important;

			background-image	: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(220, 220, 220, 1) 50%, rgba(240, 240, 240, 1) 100%) !important;
			background-size		: 200% 100% !important;
			color			: transparent !important;

			line-height		: 1.5 !important;

			animation		: skeleton_loading 2s infinite linear forwards;
		}
	}

	/* Loader */
	.loader {
		pointer-events		: none;

		position		: absolute;
		width			: 100%;
		height			: 100%;
		top			: 0;

		padding			: 10%;

		display			: flex;
		flex-direction		: column;
		justify-content		: flex-start;
		align-items		: center;

		grid-column-end		: 4;
		grid-column-start	: 1;

		opacity			: 0;

		background		: #000000;
		color			: #FFFFFF;
		border-radius		: 10px;

		transition		: 0.25s ease-in-out;

		/* Active */
		&.active {
			opacity			: 0.75;
		}

		/* Text */
		p {
			font-family		: Work Sans;
			font-size		: 1.25rem;
			font-weight		: bold;
			letter-spacing		: 1.5px;
			text-align		: center;
		}

		/* Icon */
		i {
			font-size		: 2em;
		}
	}

	/* Error */
	.error {
		pointer-events		: none;

		position		: absolute;
		width			: 100%;
		height			: 100%;
		top			: 0;

		padding			: 10%;

		display			: flex;
		flex-direction		: column;
		justify-content		: flex-start;
		align-items		: center;

		grid-column-end		: 4;
		grid-column-start	: 1;

		opacity			: 0;

		background		: #000000;
		color			: #FFFFFF;
		border-radius		: 10px;

		transition		: 0.25s ease-in-out;

		/* Active */
		&.active {
			opacity			: 0.75;
		}

		/* Text */
		p {
			font-family		: Work Sans;
			font-size		: 1.25rem;
			font-weight		: bold;
			letter-spacing		: 1.5px;
			text-align		: center;
		}

		/* Icon */
		i {
			font-size		: 2em;
		}
	}

}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                      Keyframes                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

@keyframes project_card_fade {
	from {
		transform		: scale(0);

		opacity			: 0;
	}
	to {
		transform		: scale(1);

		opacity			: 1;
	}
}

@keyframes skeleton_loading {
	from {
		background-position-x	: 0%;
	}
	to {
		background-position-x	: -200%;
	}
}